<header class="app-header navbar">
    <div id="global-page-loader" class="loader_container">
        <div class="loader">
            <div id="bone_container" class="bone_container">
                <img src="assets/img/Icon_bone_White.svg" alt="loading icon">
            </div>
            <div class="eyes_container">
                <div class="eye_level_one eye_one">
                    <div class="eye_level_two">
                        <div class="eye_level_three_container">
                            <div class="eye_level_three"></div>
                        </div>
                    </div>
                </div>
                <div class="eye_level_one eye_two">
                    <div class="eye_level_two">
                        <div class="eye_level_three_container">
                            <div class="eye_level_three"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="navbar-brand" href="#"></a>
    <div class="main_top_menu">
        <div class="edit_filters_icon" id="header-button-wrapper">
            <img id="edit-filter" style="display: none;" src="assets/img/Icon_Filter.svg" alt="filters">
            <img id="menu_back_icon" (click)="goBack()" src="assets/img/Icon_Arrow_Left_Back.svg" alt="go back">
        </div>
        <div class="dobedoo_heading"><span  (click)="clickLogo()"  style="cursor: pointer;">Dobedoo</span></div>
        <div class="hamburger_menu_icon">
            <img src="assets/img/Icon_Burger_Menu.svg" alt="open menu" (click)="openSideMenu()">
        </div>
        <div class="cart_icon_main_menu">
            <img src="assets/img/Icon_Cart.svg" alt="cart">
        </div>
    </div>
    <div class="side_menu">
        <div class="close_side_menu">
            <img src="assets/img/Icon_Close.svg" alt="close" (click)="openSideMenu()">
        </div>

        <ul class="nav navbar-nav d-md-down-none1 nav_pages">
            <li class="nav-item px-3">
                <a class="nav-link active" href="https://www.dobedoo.it">Home</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" href="https://www.dobedoo.it/categories">Categories </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" href="https://www.dobedoo.it/activities">Activities </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" href="https://www.dobedoo.it/pompeii-discover">Pompeii </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" href="https://www.dobedoo.it/info">Info</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link active" href="https://www.dobedoo.it/dobedoocard">Card</a>
            </li>
            <li class="nav-item px-3">
                <!--<a class="nav-link active" routerLinkActive="active" (click)="goItinerary()"-->
                <a class="nav-link active" routerLinkActive="active" [routerLink]="['/tutorial-one']"
                   [routerLinkActiveOptions]="{exact:true}">Itinerary</a>
            </li>
            <li class="nav-item px-3">
                <!--<a class="nav-link active" href="https://app.dobedoo.it/?isSingleDay=true">Single day Trip</a>-->
                <a class="nav-link active" routerLinkActive="active" [routerLink]="['/tutorial-one']"
                   [queryParams]="{isSingleDay: 'true'}"
                   [routerLinkActiveOptions]="{exact:true}">Single day Trip </a>
            </li>
            <li class="nav-item px-3" *ngIf="this._userService.isLoggedIn() == false">
                <a class="nav-link active" routerLinkActive="active" [routerLink]="['/login']"
                   [routerLinkActiveOptions]="{exact:true}">Login/Signup  </a>
            </li>
            <li class="nav-item px-3" *ngIf="this._userService.isLoggedIn() == true">
                <a class="nav-link active" routerLinkActive="active" [routerLink]="['/logout']"
                   [routerLinkActiveOptions]="{exact:true}">Logout </a>
            </li>
        </ul>
    </div>

</header>


<div class="app-body">
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <!--<ol class="breadcrumb">-->
        <!--<app-breadcrumbs></app-breadcrumbs>-->
        <!--</ol>-->

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <div class="footer_left">
        <span class="footer_left_span_one">Get all the</span><br/>
        <span class="footer_left_span_two">Best Promotions</span>
    </div>

    <div class="float-right footer_right">
        <img src="assets/img/Dobedoo_card.png" alt="Dobedoo card" (click)="clickCard()" style="cursor: pointer;">
        <span>with just one card!</span>
    </div>
</footer>