<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet"> 
<div class="container-fluid itinerary-container">
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-2 weather_section_div">
                    <div class="weather-container">
                        <div class="date">
                            <span class="date-weekday">Sunday,</span>
                            <span class="date-span">20 MAY</span>
                        </div>
                        <div class="temperature">22&deg;</div>
                        <div class="weather-icon">
                            <img src="assets/img/Icon_Weather_Clear.svg" alt="weather">
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 middle_section_div">
                    <div class="top_timimg_bar">
                        <div class="red-line"></div>
                        <div class="circle_one"></div>
                        <div class="circle_two"></div>
                        <div class="time_one">10:00</div>
                        <div class="time_two">22:00</div>
                    </div>
                    <div class="events_container">
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/catacombe_san_gennaro.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Chapel of San Severo</div>
                                    <span class="time">10-12</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/buco_pertuso.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Ferrigno Artisan Shop</div>
                                    <span class="time">13-14.30</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/ferrigno_pastori.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Chapel of San Severo</div>
                                    <span class="time">15-15.30</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/leon_d'oro_resturan.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Leon d'oro Restaurant</div>
                                    <span class="time">16-18</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/leopoldo_pasticceria.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Pasticceria Leopoldo</div>
                                    <span class="time">10-12</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/napolinvespa_tour.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Chapel of San Severo</div>
                                    <span class="time">19-20</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 weather_section_div">
                    <div class="weather-container">
                        <div class="date">
                            <span class="date-weekday">Monday,</span>
                            <span class="date-span">21 MAY</span>
                        </div>
                        <div class="temperature">23&deg;</div>
                        <div class="weather-icon">
                            <img src="assets/img/Icon_Weather_Cloudy.svg" alt="weather">
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 middle_section_div">
                    <div class="top_timimg_bar">
                        <div class="red-line"></div>
                        <div class="circle_one"></div>
                        <div class="circle_two"></div>
                        <div class="time_one">9:00</div>
                        <div class="time_two">00:00</div>
                    </div>
                    <div class="events_container">
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/catacombe_san_gennaro.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Chapel of San Severo</div>
                                    <span class="time">10-12</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/buco_pertuso.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Ferrigno Artisan Shop</div>
                                    <span class="time">13-14.30</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/ferrigno_pastori.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Chapel of San Severo</div>
                                    <span class="time">15-15.30</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/leon_d'oro_resturan.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Leon d'oro Restaurant</div>
                                    <span class="time">16-18</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/leopoldo_pasticceria.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Pasticceria Leopoldo</div>
                                    <span class="time">10-12</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/napolinvespa_tour.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Chapel of San Severo</div>
                                    <span class="time">19-20</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 weather_section_div">
                    <div class="weather-container">
                        <div class="date">
                            <span class="date-weekday">Sunday,</span>
                            <span class="date-span">20 MAY</span>
                        </div>
                        <div class="temperature">22&deg;</div>
                        <div class="weather-icon">
                            <img src="assets/img/Icon_Weather_Clear.svg" alt="weather">
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 middle_section_div">
                    <div class="top_timimg_bar">
                        <div class="red-line"></div>
                        <div class="circle_one"></div>
                        <div class="circle_two"></div>
                        <div class="time_one">10:00</div>
                        <div class="time_two">22:00</div>
                    </div>
                    <div class="events_container">
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/catacombe_san_gennaro.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Chapel of San Severo</div>
                                    <span class="time">10-12</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/buco_pertuso.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Ferrigno Artisan Shop</div>
                                    <span class="time">13-14.30</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/ferrigno_pastori.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Chapel of San Severo</div>
                                    <span class="time">15-15.30</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/leon_d'oro_resturan.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Leon d'oro Restaurant</div>
                                    <span class="time">16-18</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/leopoldo_pasticceria.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Pasticceria Leopoldo</div>
                                    <span class="time">10-12</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="events">
                            <div class="events_wrapper">
                                <img class="itinerary_images" src="assets/img/napolinvespa_tour.jpg" alt="image">
                                <div class="events_transparent_layer">
                                    <div class="title">Chapel of San Severo</div>
                                    <span class="time">19-20</span>
                                    <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                    <span class="cross">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                    <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="edit_itinerary_container">
                <div class="edit_itinerary_wrapper" id="edit_itinerary_wrapper_one">
                    <div class="edit_itinerary" (click)="editItinerary()">Edit<br>Itinerary</div>
                </div>
                <div class="edit_itinerary_wrapper" id="edit_itinerary_wrapper_two">
                    <div class="edit_itinerary" (click)="backToItinerary()">Back to<br>Itinerary</div>
                </div>
            </div>
        </div>
    </div>
</div>