app-itinerary { //these are selector, defined in component.ts, which make sure css is specific to this component, so do write css inside of this body
  .not_found_container {
    padding-bottom: 70px;
  }
  .not_found_image_container {
    max-width: 230px;
    margin: 40px auto 0px;
  }
  .sorry_text {
    color: #fff;
    font-size: 30px;
    padding: 0px 15px 0px 15px;
    border-bottom: 5px solid #fff;
    position: relative;
    display: inline-block;
    margin: 0px 0px 15px 0px;
  }
  .not_found_text_container {
    display: block;
    position: relative;
    text-align: center;
    color: #696969;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 28px;
    font-weight: lighter;
  }
  .not_found_text {
    display: block;
  }
  .addEventModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding-right: 20px;
    padding-left: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  }

  /* Modal Content */
  .addEventModalContent {
      position: relative;
      background-color: #FFA9BC;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      max-width: 800px;
      box-shadow: -5px 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-animation-name: addEventModalAnimatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: addEventModalAnimatetop;
      animation-duration: 0.4s;
      margin-bottom: 20px;
  }
  .modalHeader {
    width: 100%;
    height: 60px;
    padding: 0px;
    margin-bottom: 15px;
    display: block;
    position: relative;
    .modalHeaderIcon {
      width: 55px;
      height: 55px;
      display: block;
      position: relative;
      float: left;
      margin-right: 10px;
    }
    .modalHeading {
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 70px);
      text-transform: uppercase;
      h2 {
        font-size: 24px;
      }
    }
  }
  .modalBody {
    width: 100%;
    position: relative;
    height: 500px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .modalBody::-webkit-scrollbar {
    width: 14px;
  } 
  .modalBody::-webkit-scrollbar-track {
    background-color: #C11E4C;
    border-radius: 7px;
  } 
  .modalBody::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 1px solid #fff;
    border-radius: 7px;
  }
  /* Add Animation */
  @-webkit-keyframes addEventModalAnimatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
  }

  @keyframes addEventModalAnimatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
  }

  /* The Close Button */
  .addEventModalCloseBtn {
    display: inline-block;
    width: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 1;
  }

  .addEventModalCloseBtn:hover,
  .addEventModalCloseBtn:focus {
      cursor: pointer;
  }
  .addEventModalRow {
    margin: 0px;
  }
  .activity_container {
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .element_container {
    background-color: #fff;
    width: 100%;
    color: #E52251;
    overflow: visible;
    padding: 0px 0px 0px 5px;
    display: block;
    box-shadow: -5px 5px #E52251;
    border-radius: 10px;
    position: relative;
    padding-bottom: 5px;
    .image_container {
      width: 100%;
      display: block;
      -ms-transform: translate(10px,-10px);
      -webkit-transform: translate(10px,-10px);
      transform: translate(6px,-10px);
      border-radius: 10px;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      height: 204px;
      .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 4;
        border-radius: 12px;
        img {
          position: relative;
          max-height: 130%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .icon {
        width: 90px;
        height: 90px;
        display: block;
        position: absolute;
        top:0px;
        left: 0px;
        z-index: 6;
      }
      .gradient_div {
        display: block;
        width: 100%;
        height: 100%;position: absolute;
        top: 0px;
        left: 0px;
        z-index: 5;
        border-radius: 10px;
        box-sizing: border-box;
      }
      .gradient_class {        
        background: linear-gradient(to bottom right, $themeColor 20%, transparent 100%);
        border: 5px solid $themeColor;
      }
    }
    .place_name_container {
      width: 100%;
      display: block;
      box-sizing: border-box;
      padding: 0px 0px 0px 15px;
      min-height: 78px;
      .place_name {
        width: calc(100% - 30px);
        display: inline-block;
        text-transform: uppercase;
        height: auto;
        overflow: auto;
        padding-top: 4px;
      }
      .arrow {
        display: inline-block;
        position: relative;
        float: right;
        width: 20px;
        height: 24px;
        margin-right: 10px;
        top: 5px;
      }
    }
  }

  .itinerary-container {
    padding-top: 30px !important;
    display: block;
  }
  .weather_section_div {
    padding: 0px;
    color: $themeColor;
    .weather-container {
      position: relative;
      margin: 0px;
      padding: 20px 0px 0px 0px;
      height: 100%;
      box-sizing: border-box;
      .date, .temperature, .weather-icon {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
      }
      .date {
        .date-weekday {
          display: block;
          font-size: 23px;
          line-height: 23px;
        }
        .date-span {
          display: block;
          font-size: 16px;
          line-height: 22px;
        }
      }
      .temperature {
        font-size: 34px;
      }
      .weather-icon {
        img {
          max-width: 55px;
        }
      }
    }
  }
  .middle_section_div {
    .top_timimg_bar {
      width: 100%;
      display: block;
      float: left;
      position: relative;
      height: 50px;
      .red-line {
        border: 4px solid $themeColor;
        border-radius: 6px;
        position: absolute;
        top: 32px;
        width: 100%;
      }
      .circle_one, .circle_two {
        width: 20px;
        height: 20px;
        display: block;
        background-color: $themeColor;
        border-radius: 50%;
        position: absolute;
        top: 25px;
      }
      .circle_one {
        left: 40px;
      }
      .circle_two {
        right: 40px;
      }
      .time_one, .time_two {
        position: absolute;
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        color: $themeColor;
      }
      .time_one {        
        left: 27px;
      }
      .time_two {
        right: 27px;
      }
    }
    .events_container {
      width: 100%;
      margin:10px 0px 20px 0px;
      padding: 0px;
      display: block;
      position: relative;
      float: left;
      .events {
        width: 16.666666667%;
        box-sizing: border-box;
        padding-left: 10px;
        position: relative;
        float: left;
        margin-bottom: 10px;
        .events_wrapper {
          width: 100%;
          box-sizing: border-box;
          position: relative;
          height: 150px;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: -5px 5px grey;
          img {
            position: absolute;
            height: 100%;
            z-index: 10;
          }
          .events_transparent_layer {
            width: 100%;
            height: 100%;
            background-color: rgba(229, 34, 81, 0.5);
            border-radius: 10px;
            position: absolute;
            z-index: 11;
            cursor: pointer;
            .title {
              top: 8px;
              max-width: 100px;
              position: relative;
              left: 6px;
              line-height: 15px;
            }
            .time {
              position: absolute;
              left: 6px;
              bottom: 6px;
            }
            .cart {
              position: absolute;
              right: 6px;
              bottom: 6px;
              width: 40px;
              height: 40px;
              img {
                width: 100%;
                position: absolute;
                top: 0px;
              }
            }
            .cross, .double_arrow {
              position: absolute;
              bottom: -44px;
              width: 40px;
              height: 40px;
            }
            .cross {
              left: 6px;
            }
            .double_arrow {
              right: 6px;
            }
            .cross img, .double_arrow img {
              position: absolute;
              top:0px;
            }
          }
        }
      }
    }
  }  
  .edit_itinerary_container {
    width: 100%;
    height: 50px;
    display: block;
    overflow: hidden;
    .edit_itinerary_wrapper {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      position: relative;
      float: left;
      .edit_itinerary {
        max-width: 75px;
        display: block;
        margin: 0px auto;
        color: $themeColor;
        cursor: pointer;
        span {
          display: block;
          width: 100%;
          height: 5px;
          background-color: #e52050;
          margin: 0px;
          padding: 0px;
          border-radius: 5px;
        }
      }
    }
  }
  .modal_popup {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    padding-bottom: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: #000;
    .modal_content_wrapper {
      position: relative;
      background-color: transparent;
      margin: 0px auto;
      box-sizing: border-box;
      padding-right: 0px;
      max-width: 750px;
      box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0px 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animateTop;
      -webkit-animation-duration: 0.4s;
      animation-name: animateTop;
      animation-duration: 0.4s;
      border-radius: 12px;
      .toggle_close_modal {
        display: inline-block;
        width: 40px;
        position: absolute;
        right: -20px;
        top: -20px;
        cursor: pointer;
        z-index: 1;
      }
      .modal_category_icon {
        position: absolute;
        top: 0px;
        width: 100px;
        left: 0px;
        display: inline-block;
        z-index: 1;
      }
      .modal_content {
        overflow: auto;
        position: relative;
        width: 100%;
        float: left;
        padding: 40px 20px 20px 20px;
        border-radius: 12px;
        background-color: #fff;
        .modal_content_left_section, .modal_content_right_section {
          position: relative;
          display: block;
          float: left;
        }
        .modal_content_left_section {
          width: 220px;
          .modal_left_section_image {
            height: 220px;
            width: 220px;
            overflow: hidden;
            border-radius: 20px;
            img {            
              height: 100%;
            }
          }
          .info {
            display: block;
            text-transform: uppercase;
            color: $themeColor;
            font-size: 17px;
            height: 30px;
            margin-top: 20px;
            line-height: 30px;
            width: 100%;
          }
          .modal_description_address {
            font-size: 14px;
          }
          .modal_pricing_container {
            width: 100%;
            margin: 0px;
            padding: 0px;
            font-size: 14px;
          }
          .modal_schedule_container {
            width: 100%;
            margin: 15px 0px 0px 0px;
            padding: 0px;
            font-size: 14px;
          }
          .modal_schedule_container {
            .closing_day {
              margin-top: 15px;
            }
          }
        }
      }
      .modal_content_right_section {
        width: 490px;
        box-sizing: border-box;
        padding: 0px 10px 10px 30px;
        .modal_right_heading {
          color: $themeColor;
          margin-bottom: 25px;
          .modal_h2 {
            font-size: 22px;
            .modal_h2_dynamic {
              border-bottom: 5px solid $themeColor;
            }
          }
        }
        .modal_right_description {
          font-size: 14px;
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  @-webkit-keyframes animateTop {
    from {top: -300px; opacity: 0}
    to {top: 0px; opacity: 1}
  }
  @keyframes animateTop {
    from {top: -300px; opacity: 0}
    to {top: 0px; opacity: 1}
  }
  .export_itinerary {
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    .export_itinerary_inner_container {
      max-width: 75px;
      text-align: left;
      margin: 0px auto;
      img {
        width: 60px;
        cursor: pointer;
      }
    }
  }
  .exportItineraryModalContent {
    background-color: $themeColor;
  }
  .exportItineraryModalHeader {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 60px;
  }
  .esportItineraryModalHeaderIcon {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100%;
    float: left;
    img {
      width: 40px;
      position: relative;
      top: 10px;
      left: 20px;
    }
  }
  .exportItineraryModalHeading {
    display: inline-block;
    position: relative;
    float: left;
    height: 60px;
    line-height: 60px;
    h2 {
      font-size: 22px;
      font-weight: normal;
      opacity: 0.7;
      text-transform: uppercase;
      margin-top: 7px;
    }
  }
  .exportitineraryModalBody {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px 0px 0px 100px;
    overflow: auto;
  }
  .export_itinerary_half_width_column {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin: 6px 0px;
  }
  .export_itinerary_delete_activity_icon {
    display: inline-block;
    position: relative;
    float: left;
    width: 50px;
    cursor: pointer;
    img {
      width: 35px;
    }
  }
  .export_itinerary_activity_name {
    display: block;
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    width: calc(100% - 50px);
    box-sizing: border-box;
    padding-right: 10px;
    padding-top: 5px;
  }
  .export_itinerary_or_div {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin: 15px 0px;
    text-transform: uppercase;
    font-size: 22px;
    opacity: 0.6;
  }
  .export_itinerary_full_width_column {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 10px;
  }
  /* The container */
  .checkbox_container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 35px;
  }

  /* Hide the browser's default checkbox */
  .checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */
  .checkbox_checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e52050;
    border: 2px solid #fff;
    border-radius: 4px;
  }

  /* On mouse-over, add a grey background color */
  .checkbox_container:hover input ~ .checkbox_checkmark {
    background-color: #ef7694;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox_container input:checked ~ .checkbox_checkmark {
    background-color: #e52050;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkbox_checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox_container input:checked ~ .checkbox_checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox_container .checkbox_checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .send_column {
    margin: 35px 0px 10px 0px;
    box-sizing: border-box;
    padding-right: 20px;
  }
  .send_button {
    display: inline;
    position: relative;
    float: right;
    border: 4px solid #fff;
    padding: 7px 22px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
  }
  .send_icon {
    display: inline;
    padding: 0px;
    img {
      width: 36px;
    }
  }
  .edit_itinerary_image {
    display: none;
  }
  #close_itinerary_image {
    display: none;
  }

  .modal_h2 {
    line-height: 32px !important;
  }
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 993px) and (max-width : 1200px) {
    .events_container .events {
      width: 33.333333333334% !important;
      margin-bottom: 25px !important;
    }
    .events_wrapper {
      height: 175px !important;
    }
  }
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 769px) and (max-width : 992px) {   
    .top_timimg_bar {
      visibility: hidden !important;
    }
    .events {
      width: 44% !important;
      margin-left: 3% !important;
      margin-right: 3% !important;
    }
    .itinerary_images {
      height: 130% !important;
    }
    .edit_itinerary_container {
      margin: 30px 0px 60px 0px !important;
    }
    .title {
      max-width: 190px !important
    }
    .esportItineraryModalHeaderIcon {
      width: 80px !important;
    }
    .esportItineraryModalHeaderIcon img {
      left: 10px !important;
    }
    .exportitineraryModalBody {
      padding: 20px 0px 0px 80px !important;
    }
    .edit_export_buttons_column {
      position: fixed !important;
      max-width: 110px !important;
      right: 0px !important;
      z-index: 10000 !important;
    }
    .edit_itinerary_text {
      display: none !important;
    }
    .edit_itinerary_image {
      display: block !important;
    }
    .modal_content_wrapper {
      max-width: 730px !important;
    }
    .modal_popup {
      z-index: 100000;
    }
    .modal_content_right_section {
      max-width: 470px !important;
    }
    .toggle_close_modal {
      right: -6px !important;
    }
    .export_itinerary_inner_container {
      max-width: 60px !important;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 481px) and (max-width : 768px) { 
    .top_timimg_bar {
      visibility: hidden !important;
    }
    .modalHeading h2 {
      font-size: 17px !important;
      margin-top: 9px;
    }
    .events {
      width: 80% !important;
      margin-left: 10% !important;
      margin-right: 10% !important;
      margin-bottom: 30px !important;
    }
    .events_wrapper {
      height: 200px !important;
    } 
    .itinerary_images {
      height: 150% !important;
    }
    .title {
      max-width: 190px !important
    }    
    .edit_itinerary_container {
      margin: 30px 0px 60px 0px !important;
    } 
    .esportItineraryModalHeaderIcon {
      width: 76px !important;
    }
    .esportItineraryModalHeaderIcon img {
      left: 8px !important;
    }
    .exportItineraryModalHeading h2 {
      font-size: 19px !important;
    }
    .exportitineraryModalBody {
      padding: 20px 0px 0px 0px !important;
    }
    .export_itinerary_delete_activity_icon {
      width: 40px !important;
    }
    .export_itinerary_delete_activity_icon img {
      width: 30px !important;
    }
    .export_itinerary_activity_name {
      font-size: 16px !important;
      padding-top: 4px !important;
    }
    .export_itinerary_or_div {
      text-align: center !important;
    }
    .checkbox_column {
      padding-left: 8px !important;
    }
    .checkbox_checkmark {
      height: 23px !important;
      width: 23px !important;
    }
    .checkbox_text {
      line-height: 26px !important;
    }
    .edit_export_buttons_column {
      position: fixed !important;
      max-width: 65px !important;
      right: 0px !important;
      z-index: 10000 !important;
      padding: 0px !important;
    }
    .edit_itinerary_text {
      display: none !important;
    }
    .edit_itinerary_image {
      display: block !important;
    }    
    .modal_popup {
      z-index: 100000;
    }
    .modal_content_wrapper {
      max-width: 475px !important;
    }
    .toggle_close_modal {
      right: -6px !important;
      top: -6px !important;
    }
    .modal_content_left_section {
      width: 100% !important;
      text-align: center !important;
    }
    .modal_left_section_image {
      margin: 0px auto;
    }
    .modal_content_right_section {
      width: 100% !important;
      padding: 0px !important;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .top_timimg_bar {
      visibility: hidden !important;
    } 
    .modalHeaderIcon {
      width: 100% !important;
      height: 65px !important;
      text-align: center;
    }
    .modalHeaderIcon img {
      width: 65px;
    }
    .modalHeading {
      width: 100% !important;
      margin: 10px 0px;
      text-align: center;
    }
    .modalHeading h2 {
      font-size: 15px !important;
      font-weight: bold;
    }
    .events {
      width: 80% !important;
      margin-left: 10% !important;
      margin-right: 10% !important;
      margin-bottom: 30px !important;
    }
    .events_wrapper {
      height: 200px !important;
    } 
    .itinerary_images {
      height: 150% !important;
    }
    .title {
      max-width: 190px !important
    }    
    .edit_itinerary_container {
      margin: 30px 0px 60px 0px !important;
    }  
    .exportItineraryModalContent {
      padding: 10px !important;
    }
    .esportItineraryModalHeaderIcon {
      width: 100% !important;
      text-align: center;
    }
    .esportItineraryModalHeaderIcon img {
      left: 0px !important;
    }
    .exportItineraryModalHeading {
      width: 100%;
      text-align: center;
    }
    .exportItineraryModalHeading h2 {
      font-size: 16px !important;
    }
    .exportitineraryModalBody {
      padding: 20px 0px 0px 0px !important;
    }
    .export_itinerary_half_width_column {
      width: 100% !important;
    }
    .export_itinerary_delete_activity_icon {
      width: 40px !important;
    }
    .export_itinerary_delete_activity_icon img {
      width: 30px !important;
    }
    .export_itinerary_activity_name {
      font-size: 16px !important;
      padding-top: 4px !important;
    }
    .export_itinerary_or_div {
      text-align: center !important;
      font-size: 20px !important;
    }
    .checkbox_column {
      padding-left: 8px !important;
    }
    .checkbox_checkmark {
      height: 23px !important;
      width: 23px !important;
    }
    .checkbox_text {
      font-size: 17px !important;
      line-height: 23px !important;
      top: 3px;
    }
    .send_column {
      text-align: center;
    }
    .send_button {
      float: none !important;
    }
    .edit_export_buttons_column {
      position: fixed !important;
      max-width: 55px !important;
      right: 0px !important;
      z-index: 10000 !important;
      padding: 0px !important;
    }
    .edit_itinerary_text {
      display: none !important;
    }
    .edit_itinerary_image {
      display: block !important;
    }
    .export_itinerary_inner_container img {
      width: 50px !important;
    }       
    .modal_popup {
      z-index: 100000;
    } 
    .modal_popup {
      z-index: 100000;
    }
    .modal_content_wrapper {
      max-width: 475px !important;
      margin-left: 3px !important;
      margin-right: 5px !important;
    }
    .toggle_close_modal {
      right: -6px !important;
      top: -6px !important;
    }
    .modal_content_left_section {
      width: 100% !important;
      text-align: center !important;
    }
    .modal_left_section_image {
      margin: 0px auto;
    }
    .modal_content_right_section {
      width: 100% !important;
      padding: 0px !important;
    }
    .modal_h2 {
      line-height: 32px !important;
      font-size: 17px !important;
    }
  }
}