<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">
<div class="container-fluid itinerary-container">
    <div class="row">
        <div class="col-lg-10" *ngIf="_itinerary != null && _itinerary.itinerary_cook_raw != null">
            <div *ngFor="let day of _itinerary.itinerary_cook_raw.days">
                <div class="row" *ngIf="day.hours.length > 0">
                    <div class="col-lg-2 weather_section_div">
                        <div class="weather-container">
                            <div class="date">
                                <span class="date-weekday">{{dateUtils.mysqlDateToDayhName(day.day)}},</span>
                                <span class="date-span">{{dateUtils.mysqlDateToDay(day.day)}} {{dateUtils.mysqlDateToMonthName(day.day)}}</span>
                            </div>
                            <div class="temperature">22&deg;</div>
                            <div class="weather-icon">
                                <img src="assets/img/Icon_Weather_Clear.svg" alt="weather">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 middle_section_div">
                        <div class="top_timimg_bar">
                            <div class="red-line"></div>
                            <div class="circle_one"></div>
                            <div class="circle_two"></div>
                            <div class="time_one">{{dateUtils.mysqlDateTimeHour(day.hours[0].scheduled_hour_from)}}
                            </div>
                            <div class="time_two">{{dateUtils.mysqlDateTimeHour(day.hours[day.hours.length -1
                                ].scheduled_hour_to)}}
                            </div>
                        </div>
                        <div class="events_container">
                            <div class="events" *ngFor="let hour of day.hours">
                                <div class="events_wrapper" (click)="showActivityDetails(hour.activity.id)">
                                    <img class="itinerary_images" src="{{hour.activity.images[0]}}"
                                         alt="image">
                                    <div class="events_transparent_layer" id="modalClickButton">
                                        <div class="title">{{hour.activity.name}}</div>
                                        <span class="time">{{dateUtils.mysqlDateTimeHour(hour.scheduled_hour_from)}}-{{dateUtils.mysqlDateTimeHour(hour.scheduled_hour_to)}}</span>
                                        <span class="cart">
                                        <img src="assets/img/Icon_Cart_White.svg" alt="Add to cart">
                                    </span>
                                        <span class="cross" (click)="deleteItinerary(hour.activity.id)">
                                        <img src="assets/img/Icon_Delete_Activity.svg" alt="Delete Activity">
                                    </span>
                                        <span class="double_arrow">
                                        <img src="assets/img/Icon_Change_Activity.svg" alt="Change Activity">
                                    </span>
                                    </div>
                                </div>

                                <div id="modal-activity-details-{{hour.activity.id}}" class="modal_popup">
                                    <div class="modal_content_wrapper">
                                <span (click)="closeActivityDetails(hour.activity.id)" class="toggle_close_modal">
                                    <img src="assets/img/Icon_Close.svg" alt="close modal">
                                </span>
                                        <span class="modal_category_icon">
                                    <img [src]="'assets/img/'+hour.activity.micro_icon" alt="category name here">
                                </span>
                                        <div class="modal_content">
                                            <div class="modal_content_left_section">
                                                <div class="modal_left_section_image">
                                                    <img [src]="hour.activity.images"
                                                         alt="description image here">
                                                </div>
                                                <div class="info">info</div>
                                                <div class="modal_description_address">
                                                    {{hour.activity.address}}
                                                </div>
                                                <div class="modal_pricing_container">
                                                    <span class="price">Price:</span>
                                                    <div class="ordinary_ticket">Ordinary ticket: <span
                                                            id="ordinary_ticket_price">&euro; 7.00</span></div>
                                                    <span class="price">Children</span>
                                                    <div class="ordinary_ticket">from 10 to 25 years: <span
                                                            id="activity_children_range_price">&euro; 5.00</span></div>
                                                    <div class="ordinary_ticket">FAI members: <span
                                                            id="activity_fai_price">&euro; 5.00</span>
                                                    </div>
                                                    <div class="ordinary_ticket">Schools: <span
                                                            id="activity_schools_price">&euro; 3.00</span>
                                                    </div>
                                                    <div class="ordinary_ticket">Children up to 9 years: <span
                                                            id="activity_children_upto_nine_price">free</span></div>
                                                    <div class="ordinary_ticket">Audio guide: <span
                                                            id="activity_audio_guide">&euro; 3.50</span>
                                                    </div>
                                                    <br/>
                                                </div>
                                                <div class="modal_schedule_container">
                                                    <span class="price">Schedule:</span>
                                                    <div class="ordinary_ticket">Every day: <span id="activity_timing">9:30 am - 6:30 pm</span>
                                                    </div>
                                                    <div class="ordinary_ticket">Every day: <span id="activity_note">Last admission allowed up to 30 min before closing.</span>
                                                    </div>
                                                    <div class="closing_day">Closed on <span
                                                            id="activity_closing_day">Tuesday</span></div>
                                                </div>
                                            </div>
                                            <div class="modal_content_right_section">
                                                <div class="modal_right_heading">
                                                    <h2 class="modal_h2">About the <br/><span class="modal_h2_dynamic">{{ hour.activity.name}}</span>
                                                    </h2>
                                                </div>
                                                <div class="modal_right_description">
                                                    <p>{{hour.activity.description}}</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="edit_itinerary_container">
                <div class="edit_itinerary_wrapper" id="edit_itinerary_wrapper_one">
                    <div class="edit_itinerary" (click)="editItinerary()">Edit<br>Itinerary</div>
                </div>
                <div class="edit_itinerary_wrapper" id="edit_itinerary_wrapper_two">
                    <div class="edit_itinerary" (click)="reCookItinerary()">Back to<br>Itinerary</div>
                </div>
            </div>
        </div>
    </div>
</div>