app-itinerary { //these are selector, defined in component.ts, which make sure css is specific to this component, so do write css inside of this body
  .itinerary-container {
    padding-top: 30px !important;
    display: block;
    background-color: #d4d3d3;
  }
  .weather_section_div {
    padding: 0px;
    color: $themeColor;
    .weather-container {
      position: relative;
      margin: 0px;
      padding: 20px 0px 0px 0px;
      height: 100%;
      box-sizing: border-box;
      .date, .temperature, .weather-icon {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
      }
      .date {
        .date-weekday {
          display: block;
          font-size: 23px;
          line-height: 23px;
        }
        .date-span {
          display: block;
          font-size: 16px;
          line-height: 22px;
        }
      }
      .temperature {
        font-size: 34px;
      }
      .weather-icon {
        img {
          max-width: 55px;
        }
      }
    }
  }
  .middle_section_div {
    .top_timimg_bar {
      width: 100%;
      display: block;
      float: left;
      position: relative;
      height: 50px;
      .red-line {
        border: 4px solid $themeColor;
        border-radius: 6px;
        position: absolute;
        top: 32px;
        width: 100%;
      }
      .circle_one, .circle_two {
        width: 20px;
        height: 20px;
        display: block;
        background-color: $themeColor;
        border-radius: 50%;
        position: absolute;
        top: 25px;
      }
      .circle_one {
        left: 40px;
      }
      .circle_two {
        right: 40px;
      }
      .time_one, .time_two {
        position: absolute;
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        color: $themeColor;
      }
      .time_one {        
        left: 27px;
      }
      .time_two {
        right: 27px;
      }
    }
    .events_container {
      width: 100%;
      margin:10px 0px 20px 0px;
      padding: 0px;
      display: block;
      position: relative;
      float: left;
      .events {
        width: 16.666666667%;
        box-sizing: border-box;
        padding-left: 10px;
        position: relative;
        float: left;
        margin-bottom: 10px;
        .events_wrapper {
          width: 100%;
          box-sizing: border-box;
          position: relative;
          height: 150px;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: -5px 5px grey;
          img {
            position: absolute;
            height: 100%;
            z-index: 10;
          }
          .events_transparent_layer {
            width: 100%;
            height: 100%;
            background-color: rgba(229, 34, 81, 0.5);
            border-radius: 10px;
            position: absolute;
            z-index: 11;
            cursor: pointer;
            .title {
              top: 8px;
              max-width: 100px;
              position: relative;
              left: 6px;
              line-height: 15px;
            }
            .time {
              position: absolute;
              left: 6px;
              bottom: 6px;
            }
            .cart {
              position: absolute;
              right: 6px;
              bottom: 6px;
              width: 40px;
              height: 40px;
              img {
                width: 100%;
                position: absolute;
                top: 0px;
              }
            }
            .cross, .double_arrow {
              position: absolute;
              bottom: -44px;
              width: 40px;
              height: 40px;
            }
            .cross {
              left: 6px;
            }
            .double_arrow {
              right: 6px;
            }
            .cross img, .double_arrow img {
              position: absolute;
              top:0px;
            }
          }
        }
      }
    }
  }  
  .edit_itinerary_container {
    width: 100%;
    height: 50px;
    display: block;
    overflow: hidden;
    .edit_itinerary_wrapper {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      position: relative;
      float: left;
      .edit_itinerary {
        max-width: 75px;
        display: block;
        margin: 0px auto;
        color: $themeColor;
        border-bottom: 5px solid $themeColor;
        cursor: pointer;
      }
    }
  }
  .modal_popup {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    padding-bottom: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: #000;
    .modal_content_wrapper {
      position: relative;
      background-color: transparent;
      margin: 0px auto;
      box-sizing: border-box;
      padding-right: 0px;
      max-width: 750px;
      box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0px 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animateTop;
      -webkit-animation-duration: 0.4s;
      animation-name: animateTop;
      animation-duration: 0.4s;
      border-radius: 12px;
      .toggle_close_modal {
        display: inline-block;
        width: 40px;
        position: absolute;
        right: -20px;
        top: -20px;
        cursor: pointer;
        z-index: 1;
      }
      .modal_category_icon {
        position: absolute;
        top: 0px;
        width: 100px;
        left: 0px;
        display: inline-block;
        z-index: 1;
      }
      .modal_content {
        overflow: auto;
        position: relative;
        width: 100%;
        float: left;
        padding: 40px 20px 20px 20px;
        border-radius: 12px;
        background-color: #fff;
        .modal_content_left_section, .modal_content_right_section {
          position: relative;
          display: block;
          float: left;
        }
        .modal_content_left_section {
          width: 220px;
          .modal_left_section_image {
            height: 220px;
            width: 220px;
            overflow: hidden;
            border-radius: 20px;
            img {            
              height: 100%;
            }
          }
          .info {
            display: block;
            text-transform: uppercase;
            color: $themeColor;
            font-size: 17px;
            height: 30px;
            margin-top: 20px;
            line-height: 30px;
            width: 100%;
          }
          .modal_description_address {
            font-size: 14px;
          }
          .modal_pricing_container {
            width: 100%;
            margin: 0px;
            padding: 0px;
            font-size: 14px;
          }
          .modal_schedule_container {
            width: 100%;
            margin: 15px 0px 0px 0px;
            padding: 0px;
            font-size: 14px;
          }
          .modal_schedule_container {
            .closing_day {
              margin-top: 15px;
            }
          }
        }
      }
      .modal_content_right_section {
        width: 490px;
        box-sizing: border-box;
        padding: 0px 10px 10px 30px;
        .modal_right_heading {
          color: $themeColor;
          margin-bottom: 25px;
          .modal_h2 {
            font-size: 22px;
            .modal_h2_dynamic {
              border-bottom: 5px solid $themeColor;
            }
          }
        }
        .modal_right_description {
          font-size: 14px;
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  @-webkit-keyframes animateTop {
    from {top: -300px; opacity: 0}
    to {top: 0px; opacity: 1}
  }
  @keyframes animateTop {
    from {top: -300px; opacity: 0}
    to {top: 0px; opacity: 1}
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 993px) and (max-width : 1200px) {
    .events_container .events {
      width: 33.333333333334% !important;
      margin-bottom: 25px !important;
    }
    .events_wrapper {
      height: 175px !important;
    }
  }
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 769px) and (max-width : 992px) {   
    .top_timimg_bar {
      visibility: hidden !important;
    }
    .events {
      width: 44% !important;
      margin-left: 3% !important;
      margin-right: 3% !important;
    }
    .itinerary_images {
      height: 130% !important;
    }
    .edit_itinerary_container {
      margin: 30px 0px 60px 0px !important;
    }
    .title {
      max-width: 190px !important
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 481px) and (max-width : 768px) { 
    .top_timimg_bar {
      visibility: hidden !important;
    } 
    .events {
      width: 80% !important;
      margin-left: 10% !important;
      margin-right: 10% !important;
      margin-bottom: 30px !important;
    }
    .events_wrapper {
      height: 200px !important;
    } 
    .itinerary_images {
      height: 150% !important;
    }
    .title {
      max-width: 190px !important
    }    
    .edit_itinerary_container {
      margin: 30px 0px 60px 0px !important;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .top_timimg_bar {
      visibility: hidden !important;
    } 
    .events {
      width: 80% !important;
      margin-left: 10% !important;
      margin-right: 10% !important;
      margin-bottom: 30px !important;
    }
    .events_wrapper {
      height: 200px !important;
    } 
    .itinerary_images {
      height: 150% !important;
    }
    .title {
      max-width: 190px !important
    }    
    .edit_itinerary_container {
      margin: 30px 0px 60px 0px !important;
    }
  }
}