<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">
<div class="slider_container" id="slider_container">
    <div class="slider_wrapper">
        <div class="slider_section">
            <h1 class="slider_section_heading heading-one">How many travelers?</h1>
            <div class="slider_icons">
                <input type="hidden" name="childNumberCount"
                       id="childNumberCountInput" value="0">
                <input type="hidden" name="personNumberCount"
                       id="personNumberCountInput" value="1">
                <div class="child_number_display" id="child_number_display">
                    <span class="child_number_count">0</span>
                    <span class="multiplication_sign">&#x2716;</span>
                </div>
                <img id="add_child" src="assets/img/add-child.svg" alt="add child" class="child_image">
                <img id="remove_child" src="assets/img/remove-child.svg" alt="remove child" class="child_image">
                <div id="child_number"></div>
                <div id="person_number">
                    <img src="assets/img/person.svg" class="adult_person" alt="person">
                </div>
                <img id="remove_adult" src="assets/img/remove-person.svg" alt="remove person">
                <img id="add_adult" src="assets/img/add-person.svg" alt="add person">
                <div class="person_number_display" id="person_number_display">
                    <span class="multiplication_sign">&#x2716;</span>
                    <span class="person_number_count">1</span>
                </div>
            </div>
        </div>
        <div class="slider_section">
            <h1 class="slider_section_heading heading-one">How many days?</h1>
            <div class="slider_icons"></div>
        </div>
        <div class="slider_section">
            <h1 class="slider_section_heading heading-one">What's the budget</h1>
            <div class="slider_icons">
                <img id="low_budget_image" src="assets/img/low-budget.svg" alt="low budget" class="low_budget_image">
                <img id="low_budget_image_checked" src="assets/img/low-budget-selected.svg" alt="low budget"
                     class="low_budget_image">
                <img id="middle_range_budget_image" src="assets/img/middle-range-budget.svg" alt="middle budget"
                     class="middle_range_budget_image">
                <img id="middle_range_budget_image_checked" src="assets/img/middle-range-budget-selected.svg"
                     alt="middle budget" class="middle_range_budget_image">
                <img id="high_range_budget_image" src="assets/img/high-range-budget.svg" alt="high budget"
                     class="high_range_budget_image">
                <img id="high_range_budget_image_checked" src="assets/img/high-budget-selected.svg" alt="high budget"
                     class="high_range_budget_image">
            </div>
        </div>
        <div class="slider_section">
            <h1 class="slider_section_heading heading-one">What are you into?</h1>
            <div class="slider_icons">
                <div class="checkboxes_wrapper">
                    <div class="checkbox" *ngFor="let category of macroCategories"
                         (click)="_activityFilter.toggleMacroCategory(category.id)">
                        <div class="checkboxRound">
                            <input type="checkbox"
                                   [checked]="_arrayUtils.search_string_array(_activityFilter.macro_categories, category.id)"
                                    name=""/>
                            <label for="checkboxOneInput"></label>
                        </div>
                        <label>{{ category.name }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider_navigation">
        <div class="slider_left_arrow" id="previousButton">
            <img src="assets/img/arrow_left.svg" alt="slide left arrow" class="arrow_imgs">
        </div>
        <div class="slider_dot active_dot"></div>
        <div class="slider_dot"></div>
        <div class="slider_dot"></div>
        <div class="slider_dot"></div>
        <div class="slider_right_arrow" id="nextButton">
            <img src="assets/img/arrow_right.svg" alt="slide right arrow" class="arrow_imgs">
        </div>
    </div>
    <button class="next_button" *ngIf="showGetStarted()" (click)="getStarted()">Next Step!</button>
</div>
