<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">
<div class="slider_container" id="slider_container">
    <div class="slider_wrapper">
        <div class="slider_section">
            <h1 class="slider_section_heading heading-one">How many travelers?</h1>
            <div class="slider_icons">
                <input type="hidden" name="childNumberCount" id="childNumberCountInput" value="0">
                <input type="hidden" name="personNumberCount" id="personNumberCountInput" value="1">
                <div class="col-lg-2 col-md-1"></div>
                <div class="col-lg-4 col-sm-6 col-md-5 margins_top_bottom persons_column">
                    <div id="adult_number">
                        <img class="remove_person_icon" src="assets/img/Icon_Filter_Minus.svg" alt="remove person" (click)="removePerson('adult')">
                        <div class="adult_wrapper">
                            <div class="adult_text">Adults</div>
                            <div class="image_wrapper">
                                <img id="adult" src="assets/img/person.svg" alt="person">
                            </div>
                            <div class="adult_number_display"></div>
                        </div>
                        <img src="assets/img/Icon_Filter_Plus.svg" class="add_person_icon" alt="person" (click)="addPerson('adult')">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-5 children_column margins_top_bottom">
                    <div id="child_number">
                        <img src="assets/img/Icon_Filter_Minus.svg" alt="remove child" class="remove_person_icon child_icons" (click)="removePerson('child')">
                        <div class="child_wrapper">
                            <div class="child_text">Children</div>
                            <div class="image_wrapper">
                                <img src="assets/img/child.svg" alt="child" class="child_image">
                            </div>
                            <div class="child_number_display"></div>
                        </div>
                        <img src="assets/img/Icon_Filter_Plus.svg" alt="add child" class="add_person_icon child_icons" (click)="addPerson('child')">
                    </div>
                </div>
                <div class="col-lg-2 col-md-1"></div>
            </div>
        </div>
        <div class="slider_section">
            <h1 class="slider_section_heading heading-one">When?</h1>
            <input type="hidden" name="date_one" id="date_one" value="17">
            <input type="hidden" name="date_two" id="date_two" value="21">
            <input type="hidden" name="month-one" id="month-one" value="december">
            <input type="hidden" name="month-two" id="month-two" value="december">
            <input type="hidden" name="one-day-flow-month" id="one-day-flow-month" value="february">
            <input type="hidden" name="one-day-flow-day" id="one-day-flow-day" value="25">
            <input type="hidden" name="one-day-flow-time-one" id="one-day-flow-time-one" value="3">
            <input type="hidden" name="one-day-flow-time-two" id="one-day-flow-time-two" value="12">
            <div class="slider_icons">
                <div class="calendar_row calendar_top_row one_day_calendar_row one_day_calenday_top_row">
                    <div class="month_container one_day_flow_month_container">
                        <div class="left_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="previous" (click)="oneDayMonth('minus')">
                        </div>
                        <div id="month_of_day_flow" class="month"></div>
                        <div class="right_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="next" (click)="oneDayMonth('plus')">
                        </div>
                    </div>
                    <div class="day_container one_day_flow_day_container">
                        <div class="left_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="previous" (click)="oneDayFlowDay('minus')">
                        </div>
                        <div id="day_of_one_day_flow" class="day"></div>
                        <div class="right_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="next" (click)="oneDayFlowDay('plus')">
                        </div>
                    </div>
                </div>
                <div class="calendar_row one_day_calendar_row">
                    <div class="month_container one_day_flow_month_container">
                        <div class="from from_day_flow">
                            <div class="from_wrapper">from<div class="from_underline"></div></div>
                        </div>
                    </div>
                    <div class="day_container one_day_flow_day_container">
                        <div class="left_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="previous" (click)="oneDayTime('minus_one')">
                        </div>
                        <div class="day"><span id="time_of_arrival"></span>:00 <span id="AmPmOne"></span></div>
                        <div class="right_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="next" (click)="oneDayTime('plus_one')">
                        </div>
                    </div>
                </div>
                <div class="calendar_row one_day_calendar_row">
                    <div class="month_container one_day_flow_month_container">
                        <div class="from from_day_flow">
                            <div class="from_wrapper">to<div class="from_underline"></div></div>
                        </div>
                    </div>
                    <div class="day_container one_day_flow_day_container">
                        <div class="left_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="previous" (click)="oneDayTime('minus_two')">
                        </div>
                        <div class="day"><span  id="time_of_exit"></span>:00 <span id="AmPmTwo"></span></div>
                        <div class="right_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="next" (click)="oneDayTime('plus_two')">
                        </div>
                    </div>
                </div>
                <div class="calendar_row calendar_top_row">
                    <div class="from_container">
                        <div class="from">from<div class="from_underline"></div></div>
                    </div>
                    <div class="month_container">
                        <div class="left_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="previous" (click)="minusMonth('one')">
                        </div>
                        <div id="month_one" class="month"></div>
                        <div class="right_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="next" (click)="plusMonth('one')">
                        </div>
                    </div>
                    <div class="day_container">
                        <div class="left_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="previous" (click)="minusDay('one')">
                        </div>
                        <div id="day_one" class="day"></div>
                        <div class="right_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="next" (click)="plusDay('one')">
                        </div>
                    </div>
                </div>
                <div class="calendar_row">
                    <div class="from_container">
                        <div class="from">to<div class="from_underline"></div></div>
                    </div>
                    <div class="month_container">
                        <div class="left_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="previous" (click)="minusMonth('two')">
                        </div>
                        <div id="month_two" class="month"></div>
                        <div class="right_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="next" (click)="plusMonth('two')">
                        </div>
                    </div>
                    <div class="day_container">
                        <div class="left_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="previous" (click)="minusDay('two')">
                        </div>
                        <div id="day_two" class="day"></div>
                        <div class="right_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="next" (click)="plusDay('two')">
                        </div>
                    </div>
                </div>   
                
                <!--
                <div class="calendar_row">
                    <div class="from_container">
                    </div>
                    <div class="month_container">
                        <div class="left_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="previous">
                        </div>
                        <div class="month">2018</div>
                        <div class="right_icon_calendar">
                            <img src="assets/img/Icon_Arrow_white_tutorial.svg" alt="next">
                        </div>
                    </div>
                    <div class="day_container">
                        
                    </div>
                </div>
            -->
            </div>
        </div>
        <div class="slider_section">
            <h1 class="slider_section_heading heading-one">What's the budget?</h1>
            <div class="slider_icons budget_icons_group">
                <img id="low_budget_image" src="assets/img/low-budget.svg" alt="low budget" class="low_budget_image">
                <img id="low_budget_image_checked" src="assets/img/low-budget-selected.svg" alt="low budget"
                     class="low_budget_image">
                <img id="middle_range_budget_image" src="assets/img/middle-range-budget.svg" alt="middle budget"
                     class="middle_range_budget_image">
                <img id="middle_range_budget_image_checked" src="assets/img/middle-range-budget-selected.svg"
                     alt="middle budget" class="middle_range_budget_image">
                <img id="high_range_budget_image" src="assets/img/high-range-budget.svg" alt="high budget"
                     class="high_range_budget_image">
                <img id="high_range_budget_image_checked" src="assets/img/high-budget-selected.svg" alt="high budget"
                     class="high_range_budget_image">
            </div>
        </div>
        <div class="slider_section">
            <h1 class="slider_section_heading heading-one">What are you into?</h1>
            <div class="slider_icons">
                <div class="checkboxes_wrapper">
                    <div class="checkbox" *ngFor="let category of macroCategories"
                         (click)="_activityFilter.toggleMacroCategory(category.id)">
                        <div class="checkboxRound">
                            <input type="checkbox"
                                   [checked]="_arrayUtils.search_string_array(_activityFilter.macro_categories, category.id)"
                                    name=""/>
                            <label for="checkboxOneInput"></label>
                        </div>
                        <label>{{ category.name }}</label>
                    </div>
                </div>
            </div>
            <button class="next_button nb_before_pagination" *ngIf="showGetStarted()" (click)="getStarted()">Next Step!<div class="next_button_underline"></div></button>
        </div>
    </div>
    <div class="slider_navigation">
        <div class="slider_left_arrow" id="previousButton">
            <img src="assets/img/arrow_left.svg" alt="slide left arrow" class="arrow_imgs">
        </div>
        <div class="slider_dot active_dot"></div>
        <div class="slider_dot"></div>
        <div class="slider_dot"></div>
        <div class="slider_dot"></div>
        <div class="slider_right_arrow" id="nextButton">
            <img src="assets/img/arrow_right.svg" alt="slide right arrow" class="arrow_imgs">
        </div>
    </div>
    <button class="next_button nb_after_pagination" *ngIf="showGetStarted()" (click)="getStarted()">Next Step!<div class="next_button_underline"></div></button>
</div>
