app-tutorial-two {
  .slider_container {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .slider_wrapper {
    width: 400%;
    position: relative;
    float: left;
  }
  .slider_section {
    width: 25%;
    height: auto;
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;
  }
  .slider_section_heading {
    margin-top: 80px;
    text-align: center;
  }
  .slider_icons {
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 300px;
    text-align: center;
    padding-top: 30px;

    img {
      padding: 0px 5px;
    }
  }
  .child_image {
    position: relative;
    top: 35px;
  }
  .slider_navigation {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    margin: 0px;
    padding:0px;
    text-align: center;
    height: 70px;
    margin-top: 15px;
  }
  .slider_dot {
    width: 14px;
    height: 14px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.6;
    vertical-align: middle;
  }
  .slider_dot, .slider_left_arrow, .slider_right_arrow {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .slider_left_arrow, .slider_right_arrow {
    padding: 0px 15px;
    font-size: 20px;
  }
  .active_dot {
    width: 22px;
    height:22px;
    vertical-align: middle;
    opacity: 1;
  }
  .slider_left_arrow {
    margin-right: 100px;
  }
  .slider_right_arrow {
    margin-left: 100px;
  }
  #previousButton {
    visibility: hidden;
  }
  #add_child, #add_adult, #remove_child, #remove_adult {
    cursor: pointer;
    position: relative;
  }
  .arrow_imgs {
    width: 40px;
    height: 53px;
  }
  #person_number, #child_number {
    display: inline-block;
  }
  .child_number_display, .person_number_display {
    display: none;
    vertical-align: middle;
    line-height: 80px;
  }
  .child_number_count, .person_number_count {
    font-size: 50px;
  }
  .multiplication_sign {
    font-size: 30px;
    margin: 0px 10px;
  }
  .low_budget_image {
    width: 147px;
  }
  .middle_range_budget_image {
    width: 178px;
    margin: 0px 50px;
  }
  .high_range_budget_image {
    width: 207px;
  }
  .low_budget_image, .middle_range_budget_image, .high_range_budget_image {
    padding: 0px 10px;
    cursor: pointer;
  }
  #high_range_budget_image_checked, #middle_range_budget_image_checked, #low_budget_image_checked {
    display: none;
  }
  .checkboxes_wrapper {
    max-width: 600px;
    margin: 0px auto;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-top: 50px;
    .checkbox {
      width: 50%;
      float: left;
      position: relative;
      label{
        input {
          margin-right: 15px;
        }
      }
    }
  }
  .checkboxRound {
    width: 44px;
    height: 44px;
    background: #E52050;
    border: 2px solid #fff;
    margin: 0px;
    border-radius: 50%;
    position: relative;
    top: 14px;
    display: inline-block;
  }
  .checkboxRound input {
    display: none;
  }
  .checkboxRound label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    background: #E52050;
  }
  .checkboxRound input[type=checkbox]:checked + label {
      background: #fff;
  }
}