app-tutorial-two {
  #adult_number, #child_number {
    display: inline-block;
  }
  .nb_before_pagination {
    display: none;
  }
  .add_person_icon, .remove_person_icon {
    display: inline-block;
    width: 40px;
    height: 350px;
    position: relative;
    margin: 0px;
    float: left;
  }
  .add_person_icon {
    margin-left: 10px;
  }
  .remove_person_icon {
    margin-right: 10px;
  }
  .adult_wrapper, .child_wrapper {
    display: inline-block;
    width: 120px;
    height: 350px;
    float: left;
  }
  .adult_text, .child_text {
    display: block;
    font-size: 24px;
  }
  .image_wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    height: 235px;
    display: block;
  }
  #adult {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 5px;
  }
  .child_icons {
    //top: 28px;
  }
  .margins_top_bottom {
    margin-top: 50px;
  }
  .adult_number_display, .child_number_display {
    font-size: 28px;
    height: 60px;
    padding-top: 20px;
    display: block;
  }
  .calendar_row {
    font-size: 20px;
    display: block;
    margin: 30px 0px;
  }
  .calendar_top_row {
    margin-top: 120px;
  }
  .from_container, .from, .left_icon_calendar, .right_icon_calendar, .month_container, .month, .day_container, .day {
    display: inline-block;
  }
  .from_container {
    display: inline-block;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: left;
  }
  .from {
    display: inline-block;
    padding-bottom: 2px;
  }
  .from_underline, .next_button_underline {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
  }
  .left_icon_calendar {
    width: 40px;
    height: 42px;
    float: left;
  }
  .right_icon_calendar {
    width: 40px;
    height: 42px;
    float: right;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  .month_container {
    width: 250px;
    margin-right: 10px;
    text-transform: uppercase;
  }
  .month {
    width: calc(100% -86px);
  }
  .day_container {
    width: 130px;
  }
  .day {
    width: calc(100% - 86px);
  }
  .slider_container {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .slider_wrapper {
    width: 400%;
    position: relative;
    float: left;
  }
  .slider_section {
    width: 25%;
    height: auto;
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;
  }
  .slider_section_heading {
    margin-top: 70px;
    text-align: center;
  }
  .slider_icons {
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 300px;
    text-align: center;
    padding-top: 30px;

    img {
      padding: 0px 5px;
    }
  }
  .child_image {
    position: relative;
    top: 35px;
  }
  .slider_navigation {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    margin: 0px;
    padding:0px;
    text-align: center;
    height: 55px;
    margin-top: 30px;
  }
  .slider_dot {
    width: 14px;
    height: 14px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.6;
    vertical-align: middle;
  }
  .slider_dot, .slider_left_arrow, .slider_right_arrow {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .slider_left_arrow, .slider_right_arrow {
    padding: 0px 15px;
    font-size: 20px;
  }
  .active_dot {
    width: 22px;
    height:22px;
    vertical-align: middle;
    opacity: 1;
  }
  .slider_left_arrow {
    margin-right: 100px;
  }
  .slider_right_arrow {
    margin-left: 100px;
  }
  #previousButton {
    visibility: hidden;
  }
  #add_child, #add_adult, #remove_child, #remove_adult {
    cursor: pointer;
    position: relative;
  }
  .arrow_imgs {
    width: 40px;
    height: 53px;
  }
  .low_budget_image {
    width: 147px;
  }
  .middle_range_budget_image {
    width: 178px;
    margin: 0px 50px;
  }
  .high_range_budget_image {
    width: 207px;
  }
  .low_budget_image, .middle_range_budget_image, .high_range_budget_image {
    padding: 0px 10px;
    cursor: pointer;
  }
  #high_range_budget_image_checked, #middle_range_budget_image_checked, #low_budget_image_checked {
    display: none;
  }
  .checkboxes_wrapper {
    max-width: 600px;
    margin: 0px auto;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-top: 120px;
    .checkbox {
      width: 50%;
      float: left;
      position: relative;
      label{
        input {
          margin-right: 15px;
        }
      }
    }
  }
  .checkboxRound {
    width: 44px;
    height: 44px;
    background: #E52050;
    border: 2px solid #fff;
    margin: 0px;
    border-radius: 50%;
    position: relative;
    top: 14px;
    display: inline-block;
  }
  .checkboxRound input {
    display: none;
  }
  .checkboxRound label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    background: #E52050;
  }
  .checkboxRound input[type=checkbox]:checked + label {
      background: #fff;
  }

  #days-selector {
    .daterangepicker {
      position: relative !important;
      top: 0 !important;
    }
  }

  .calendar.right {
    display: none !important;
  }
  .daterangepicker_input {
    display: none;
  }
  .next_button {
    color: #fff;
    background-color: #e52050;
    border: 0px;
    font-size: 22px;
    text-align: left;
    padding: 0px 15px 0px 0px;
    position: relative;
    float: right;
    right: 40px;
    padding-top: 0px;
  }
  .budget_icons_group {
    padding-top: 120px;
  }
  /* Large Devices, Wide Screens */
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 993px) and (max-width : 1200px) {
    .budget_icons_group {
      padding-top: 120px;
    }
    .checkboxes_wrapper {
      margin-top: 120px;
    }
    .calendar_top_row {
      margin-top: 120px;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 769px) and (max-width : 992px) {
    .low_budget_image {
      width: 125px;
    }
    .middle_range_budget_image {
      width: 155px;
      margin: 0px 40px;
    }
    .high_range_budget_image {
      width: 190px;
    }
    .budget_icons_group {
      padding-top: 120px;
    }
    .checkboxes_wrapper {
      margin-top: 120px;
    }
    .calendar_top_row {
      margin-top: 120px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 481px) and (max-width : 768px) {
    .slider_left_arrow {
      margin-right: 20px;
    }
    .slider_right_arrow {
      margin-left: 20px;
    }
    .arrow_imgs {
      width: 30px;
      height: 40px;
    }
    .slider_section_heading {
      margin-top: 50px;
      text-align: center;
      font-size: 26px;
    }
    .margins_top_bottom {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .adult_wrapper, .child_wrapper {
      width: 93px;
      height: 250px;
    }
    .adult_text, .child_text {
      font-size: 20px;
    }
    .image_wrapper {
      padding-top: 7px;
      height: 176px;
    }
    .adult_number_display, .child_number_display {
      font-size: 24px;
      height: 36px;
      padding-top: 0px;
    }
    .add_person_icon, .remove_person_icon {
      width: 36px;
      height: 250px;
    }
    .child_image {
      top: 20px;
      width: 70px;
    }
    .from_container {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    .from {
      padding: 0px 10px;
    }
    .budget_icons_group {
      margin: 40px 0px;
      padding-top: 80px;
    }
    .low_budget_image {
      width: 90px;
    }
    .middle_range_budget_image {
      width: 115px;
      margin: 0px 22px;
    }
    .high_range_budget_image {
      width: 126px;
    }
    .slider_navigation {
      margin-top: 0px;
    }
    .checkboxes_wrapper {
      margin-top: 40px;
    }
    .checkbox {
      width: 100% !important;
      box-sizing: border-box;
      padding-left: 20%;
    }
    .checkboxRound {
      width: 36px;
      height: 36px;
      top: 10px;
    }
    .checkboxRound label {
      width: 26px;
      height: 25px;
      top: 4px;
      left: 3px;
    }
    .calendar_top_row {
      margin-top: 30px;
    }    
    .persons_column, .children_column {
      margin-top: 40px;
    }
    .nb_before_pagination {
      display: block;
      padding: 60px 0px 0px 0px;
    }
    .nb_after_pagination {
      display: none;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .slider_left_arrow {
      margin-right: 5px;
    }
    .slider_right_arrow {
      margin-left: 5px;
    }
    .arrow_imgs {
      width: 30px;
      height: 40px;
    }
    .slider_section_heading {
      margin-top: 50px;
      text-align: center;
      font-size: 26px;
    }
    .margins_top_bottom {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .adult_wrapper, .child_wrapper {
      width: 93px;
      height: 250px;
    }
    .adult_text, .child_text {
      font-size: 20px;
    }
    .image_wrapper {
      padding-top: 7px;
      height: 176px;
    }
    .adult_number_display, .child_number_display {
      font-size: 24px;
      height: 36px;
      padding-top: 0px;
    }
    .add_person_icon, .remove_person_icon {
      width: 36px;
      height: 250px;
    }
    .child_image {
      top: 20px;
      width: 70px;
    }
    .calendar_row {
      margin: 45px 0px;
      display: block;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
    }
    .from_container {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    .from {
      padding: 0px 10px;
    }
    .month_container {
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .budget_icons_group {
      margin: 40px 0px;
      padding-top: 60px;
      text-align: center;
    }
    .low_budget_image {
      width: 90px;
      display: block;
      margin: 15px auto;
    }
    .middle_range_budget_image {
      width: 115px;
      margin: 15px auto;
    }
    .high_range_budget_image {
      width: 126px;
      display: block;
      margin: 15px auto;
    }
    .slider_navigation {
      margin-top: 0px;
    }
    
    .checkboxes_wrapper {
      margin-top: 100px;
    }
    .checkbox {
      width: 100% !important;
      box-sizing: border-box;
      padding-left: 5%;
      font-size: 19px;
    }
    .checkboxRound {
      width: 36px;
      height: 36px;
      top: 10px;
    }
    .checkboxRound label {
      width: 26px;
      height: 25px;
      top: 4px;
      left: 3px;
    }    
    .nb_before_pagination {
      display: block;
      padding: 60px 0px 0px 0px;
    }
    .nb_after_pagination {
      display: none;
    }
  }
}
