<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">

<div class="h1-container">
    <h1 id="heading" i18n="tut-one-htu">How to use the dobedoo app</h1>
</div>
<section class="tutorials-section">
    <div class="tutorial_description">
        <div class="tutorial_one_wrapper">
            <div class="tutorial_icon_div icon_one">1</div>
            <p class="description">Sign up and<br/>tell us more about<br/>your trip</p>
        </div>
    </div>
    <div class="tutorial_description">
        <div class="tutorial_two_wrapper">
            <div class="tutorial_icon_div icon_two">2</div>
            <p class="description">Make a whishlist<br/>with the activities<br/>that you like</p>
        </div>
    </div>
    <div class="tutorial_description">
        <div class="tutorial_three_wrapper">
            <div class="tutorial_icon_div icon_three">3</div>
            <p class="description">Receive a<br/>customized plan<br/>for your stay</p>
        </div>
    </div>
    <div class="tutorials_get_started">
        <div class="tutorials_get_started_container">
            <div class="tutorials_get_started_wrapper" (click)="goTutorialTwo()">Let's get started</div>
            <div class="underline_border_get_started"></div>
        </div>
    </div>
</section>
<script src="https://greensock.com/js/src/utils/SplitText.min.js"></script>
