app-tutorial-one { //these are selector, defined in component.ts, which make sure css is specific to this component, so do write css inside of this body
  .h1-container {
    margin-top: 70px;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    max-width: 400px;
    margin: 0px auto;
    font-size: 42px;
    position: relative;
  }
  .tutorials-section {
    width: 1140px;
    margin: 30px auto 30px;
    display: block;
    overflow: auto;
  }
  .tutorial_description {
    width: 380px;
    display: block;
    float: left;
    overflow: auto;
  }
  .tutorial_one_wrapper, .tutorial_two_wrapper, .tutorial_three_wrapper {
    text-align: center;
    width: 360px;
    padding-top: 30px;
  }
  .tutorial_one_wrapper p, .tutorial_two_wrapper p, .tutorial_three_wrapper p {
    font-size: 29px;
    margin-top: 20px;
  }
  .tutorial_two_wrapper {
    margin: 0px auto;
  }
  .tutorial_three_wrapper {
    float: right;
  }
  .tutorial_icon_div {
    width: 100px;
    height: 100px;
    background-color: #fff;
    color: #E52050;
    border-radius: 50%;
    line-height: 100px;
    font-size: 64px;
    font-weight: 800;
    margin: 0px auto 10px;
    box-shadow: -8px 8px $shadowColor;
  }
  .tutorials_get_started_container {
    width: 262px;
    margin: 0px auto;
    cursor: pointer;
  }
  .tutorials_get_started {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
  }
  .underline_border_get_started {
    border: 3px solid #fff;
    border-radius: 3px;
    width: 100%;
  }
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 993px) and (max-width : 1200px) {
    .tutorials-section {
      width: 962px;
      margin: 60px auto 30px;
    }
    .tutorial_description {
      width: 320px;
    }
    .tutorial_one_wrapper, .tutorial_two_wrapper, .tutorial_three_wrapper {
      width: 300px;
    }
    .tutorial_icon_div {
      width: 96px;
      height: 96px;
      line-height: 96px;
    }
    .tutorial_one_wrapper p, .tutorial_two_wrapper p, .tutorial_three_wrapper p {
      font-size: 27px;
    }
    .tutorials_get_started_container {
      width: 235px;
    }
    .tutorials_get_started {
      font-size: 29px;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 769px) and (max-width : 992px) {
    .h1-container {
      margin-top: 60px;
    }
    .h1-container h1 {
      font-size: 38px;
    }
    .tutorials-section {
      width: 748px;
      margin: 60px auto 30px;
    }
    .tutorial_description {
      width: 249px;
    }
    .tutorial_one_wrapper, .tutorial_two_wrapper, .tutorial_three_wrapper {
      width: 239px;
    }
    .tutorial_icon_div {
      width: 86px;
      height: 86px;
      line-height: 86px;
      font-size: 54px;
    }
    .tutorial_one_wrapper p, .tutorial_two_wrapper p, .tutorial_three_wrapper p {
      font-size: 27px;
    }
    .tutorials_get_started_container {
      width: 228px;
    }
    .tutorials_get_started {
      font-size: 28px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 481px) and (max-width : 768px) {
    .h1-container {
      margin-top: 60px;
    }
    .h1-container h1 {
      font-size: 38px;
    }
    .tutorials-section {
      width: 480px;
      margin: 60px auto 30px;
    }
    .tutorial_description {
      width: 480px;
      margin-bottom: 20px;
    }
    .tutorial_one_wrapper, .tutorial_two_wrapper, .tutorial_three_wrapper {
      width: 480px;
    }
    .tutorial_icon_div {
      
    }
    .tutorial_one_wrapper p, .tutorial_two_wrapper p, .tutorial_three_wrapper p {
      font-size: 28px;
    }
    .tutorials_get_started_container {
      width: 203px;
    }
    .tutorials_get_started {
      font-size: 25px;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .h1-container {
      margin-top: 50px;
    }
    .h1-container h1 {
      font-size: 30px;
    }
    .tutorials-section {
      width: 320px;
      margin: 60px auto 30px;
    }
    .tutorial_description {
      width: 320px;
      margin-bottom: 20px;
    }
    .tutorial_one_wrapper, .tutorial_two_wrapper, .tutorial_three_wrapper {
      width: 320px;
    }
    .tutorial_icon_div {
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 54px;
    }
    .tutorial_one_wrapper p, .tutorial_two_wrapper p, .tutorial_three_wrapper p {
      font-size: 22px;
    }
    .tutorials_get_started_container {
      width: 186px;
    }
    .tutorials_get_started {
      font-size: 23px;
    }
  }
}