<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">
<div class="sidebar_section">
    <div class="close_container">
        <img src="assets/img/Icon_Close.svg" alt="close" (click)="toggleSidebar()">
    </div>
    <div class="filters_edit">
        <button class="filter_edit_text editFilters" (click)="edifFiltersFunction()">Edit filters</button>
        <br/>
        <button class="filter_edit_text applyFilters" (click)="applyFiltersFunction()">Apply Filters</button>
        <br/>
        <button class="filter_edit_text">Reset all</button>
        <!--<div class="filter_edit_text">Advanced filters</div>-->
    </div>
    <div class="filters">
        <div class="filters_one">
            <input type="hidden" name="adults_number" id="adults_number_input" value="2">
            <div class="icon_container">
                <img class="adult_img" src="assets/img/person.svg" alt="person">
            </div>
            <div class="person_info">
                <div class="person_stats_container">
                    <span id="adult_number" class="person_number">2</span>
                    <div class="person">Adult<span>s</span></div>
                </div>
                <span class="add_person" id="add_person" (click)="addAdults()">
                    <img src="assets/img/Icon_Filter_Plus.svg" alt="add person">
                </span>
                <span class="remove_person" id="remove_person" (click)="removeAdults()">
                    <img src="assets/img/Icon_Filter_Minus.svg" alt="remove person">
                </span>
            </div>
        </div>
        <div class="filters_one">
            <input type="hidden" name="children_number" id="children_number_input" value="0">
            <div class="icon_container">
                <img class="child_img" src="assets/img/child.svg" alt="person">
            </div>
            <div class="person_info">
                <div class="person_stats_container">
                    <span id="child_number" class="person_number">0</span>
                    <span class="person">Children</span>
                </div>
                <span class="add_person" id="add_child" (click)="addChild('add_child')">
                    <img src="assets/img/Icon_Filter_Plus.svg" alt="add child">
                </span>
                <span class="remove_person" id="remove_child" (click)="removeChild()">
                    <img src="assets/img/Icon_Filter_Minus.svg" alt="remove child">
                </span>
            </div>
        </div>
        <div class="filters_one">
            <div class="icon_container icon_calendar">
                <img class="calendar_image" src="assets/img/Icon_Calendar_White.svg" alt="person">
            </div>
            <div class="calendar_dates_display">
                <span id="calendar_dates_month_display_one"></span>
                <span id="calendar_dates_day_display_one"></span>
                <span> - </span>
                <span id="calendar_dates_month_display_two"></span>
                <span id="calendar_dates_day_display_two"></span>
            </div>
            <div class="calendar_container">
                <div class="from">from</div>
                <div class="month_container">
                    <div class="month_wrapper">
                        <img class="icon_left" src="assets/img/Icon_Arrow_White.svg" alt="previous"
                             (click)="minusMonth('one')">
                        <input type="hidden" name="from_month" id="month-one" value="november">
                        <div id="month_one" class="month"></div>
                        <img class="icon_right" src="assets/img/Icon_Arrow_White.svg" alt="next"
                             (click)="plusMonth('one')">
                    </div>
                </div>
                <div class="day_container">
                    <input type="hidden" name="date_from" id="date_one" value="2">
                    <img class="icon_left" src="assets/img/Icon_Arrow_White.svg" alt="previous"
                         (click)="minusDay('one')">
                    <div id="day_one" class="day"></div>
                    <img class="icon_right" src="assets/img/Icon_Arrow_White.svg" alt="next" (click)="plusDay('one')">
                </div>
            </div>
            <div class="calendar_container">
                <div class="from">to</div>
                <div class="month_container">
                    <div class="month_wrapper">
                        <img class="icon_left" src="assets/img/Icon_Arrow_White.svg" alt="previous"
                             (click)="minusMonth('two')">
                        <input type="hidden" name="month_to" id="month-two" value="december">
                        <div id="month_two" class="month"></div>
                        <img class="icon_right" src="assets/img/Icon_Arrow_White.svg" alt="next"
                             (click)="plusMonth('two')">
                    </div>
                </div>
                <div class="day_container">
                    <input type="hidden" name="date_to" id="date_two" value="12">
                    <img class="icon_left" src="assets/img/Icon_Arrow_White.svg" alt="previous"
                         (click)="minusDay('two')">
                    <div id="day_two" class="day"></div>
                    <img class="icon_right" src="assets/img/Icon_Arrow_White.svg" alt="next" (click)="plusDay('two')">
                </div>
            </div>
        </div>
        <div class="filters_one">
            <label class="radio-inline budget_icons_container budget_icons_container_one">
                <input class="budget_inputs" type="radio" id="low-budget-radio" name="budget_input" value="low_budget">
                <img class="low_budget_icon budget_icons" src="assets/img/low-budget.svg" alt="low budget"
                     (click)="budgetSelection('low')">
            </label>
            <label class="radio-inline budget_icons_container budget_icons_container_two">
                <input class="budget_inputs" type="radio" id="medium-budget-radio" name="budget_input"
                       value="mid_range_budget"
                       checked="checked">
                <img class="mid_budget_icon budget_icons" src="assets/img/middle-range-budget.svg" alt="medium budget"
                     (click)="budgetSelection('medium')">
            </label>
            <label class="radio-inline budget_icons_container budget_icons_container_three">
                <input class="budget_inputs" type="radio" name="budget_input" value="high_range_budget">
                <img class="high_budget_icon budget_icons" id="high-budget-radio" src="assets/img/high-range-budget.svg"
                     alt="high budget"
                     (click)="budgetSelection('high')">
            </label>
            <div class="budget_range_text_display"></div>

            <!--<div class="budget_icons_container">
                <img class="low_budget_icon" src="assets/img/low-budget-selected.svg" alt="low budget">
            </div>
            <div class="budget_icons_container">
                <img class="mid_budget_icon" src="assets/img/middle-range-budget-selected.svg" alt="low budget">
            </div>
            <div class="budget_icons_container">
                <img class="high_budget_icon" src="assets/img/high-budget-selected.svg" alt="low budget">
            </div>-->

        </div>
        <div class="filters_one">
            <div class="checkboxes_wrapper">
                <div class="checkbox" *ngFor="let category of macroCategories"
                     (click)="_activityFilter.toggleMacroCategory(category.id)"
                >
                    <div class="checkboxRound"

                    >
                        <input type="checkbox"
                               [checked]="_arrayUtils.search_string_array(_activityFilter.macro_categories, category.id)"
                               value="1" name=""/>
                        <label for="checkboxOneInput"></label>
                    </div>
                    <label>{{ category.name }}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid wishlist_container">
    <div class="row">
        <div class="col-lg-1 left_container"></div>
        <div class="col-lg-9 middle_container">
            <div *ngIf="!loading && _activities.length == 0 && _singleDayTemporaryItinerary.itinerary_cook_raw != null && _singleDayTemporaryItinerary.itinerary_cook_raw.days.length == 0"
                 class="not_found_container">
                <div class="not_found_image_container">
                    <img src="assets/img/Icon_Not_Found.svg" alt="Search results not forund">
                </div>
                <div class="not_found_text_container">
                    <span class="sorry_text">sorry!</span>
                    <!--<span class="not_found_text">there are no results for</span>-->
                    <!--<blockquote id="search_result_quote">Bla bla</blockquote>-->
                    <span class="not_found_text">try to change your filters</span>
                    <!--<span class="not_found_text">or to check the spelling</span>-->
                </div>
            </div>
            <div class="row">


                <div *ngIf="!appInitSettings.isSingleDay && _activities.length > 0">
                    <div
                            class="col-lg-3 col-md-4 col-sm-6 col-xs-12 activity_container">
                        <div class="element_container wishlist_description_container">
                            <h2>This is your<br>Wishlist!</h2>
                            <p>Select one or more Activities you want to do while you're in <span
                                    id="wishlist_description_city">Neaples</span></p>
                        </div>
                    </div>
                    <div
                            class="col-lg-3 col-md-4 col-sm-6 col-xs-12 activity_container"
                            *ngFor="let activity of _activities">
                        <div class="element_container"
                             (click)="toggle_selected_acctivity(activity.id)">
                            <div class="image_container">
                                <div class="image">
                                    <img class="elem_image" [src]="activity.images[0]" alt="image">
                                </div>
                                <div class="icon">
                                    <img [src]="'assets/img/'+activity.micro_icon" alt="Museum category">
                                </div>
                                <!--<div class="gradient_div gradient_class gradient_class_blue" [class.gradient_class]="check_activity_selected(activity.id)"-->
                                <div class="gradient_div gradient_class"
                                     [class.gradient_class]="check_activity_selected(activity.id) "
                                ></div>
                            </div>
                            <div class="place_name_container">
                                <div class="place_name">{{ activity.name }}</div>
                                <div class="arrow">
                                    <img src="assets/img/Icon_Arrow_Wishlist.svg" alt="Museum category">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="appInitSettings.isSingleDay && _singleDayTemporaryItinerary.itinerary_cook_raw != null && _singleDayTemporaryItinerary.itinerary_cook_raw.days.length > 0">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 activity_container">
                        <div class="element_container wishlist_description_container">
                            <h2>These are your<br>Results!</h2>
                            <p>Select your Activities and get them send to you by clicking the Mail Button</p>
                        </div>
                    </div>
                    <div *ngFor="let day of _singleDayTemporaryItinerary.itinerary_cook_raw.days">
                        <div *ngFor="let hour of day.hours"
                             class="col-lg-3 col-md-4 col-sm-6 col-xs-12 activity_container">
                            <div class="element_container"
                                 (click)="toggle_selected_acctivity(hour.activity.id)">
                                <div class="image_container">
                                    <div class="image">
                                        <img class="elem_image" [src]="hour.activity.images[0]" alt="image">
                                    </div>
                                    <div class="icon">
                                        <img [src]="'assets/img/'+hour.activity.micro_icon" alt="Museum category">
                                    </div>
                                    <!--<div class="gradient_div gradient_class gradient_class_blue" [class.gradient_class]="check_activity_selected(activity.id)"-->
                                    <div class="gradient_div gradient_class_blue"
                                         [class.gradient_class_blue]="check_activity_selected(hour.activity.id)"
                                    ></div>
                                </div>
                                <div class="place_name_container">
                                    <div class="place_name">{{ hour.activity.name }}</div>
                                    <div class="arrow">
                                        <img src="assets/img/Icon_Arrow_Wishlist.svg" alt="Museum category">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 right_container">
            <!--<div class="edit_itinerary" (click)="exportItinerary()">Export<br>Itinerary</div>-->
            <div *ngIf="appInitSettings.isSingleDay" class="export_itinerary"
                 (click)="showExportItineraryModalWishlist()">
                <div class="export_itinerary_inner_container">
                    <img src="assets/img/Icon_Export_Blue.svg" alt="export itinerary">
                </div>
            </div>
            <div *ngIf="!appInitSettings.isSingleDay" class="edit_itinerary_container">
                <div class="edit_itinerary_wrapper"
                     id="edit_itinerary_wrapper_one">
                    <div class="edit_itinerary" (click)="show_my_itinerary()">Show my<br>Itinerary</div>
                </div>
                <div class="edit_itinerary_wrapper" id="edit_itinerary_wrapper_two">
                    <div class="edit_itinerary" (click)="backToItinerary()">Hide my<br>Itinerary</div>
                </div>
            </div>
            <div class="select_activity_container">
                <img src="assets/img/triangle.svg" alt="empty wishlist arrow">
                <div class="select_activity_description">Select atleast one Activity for your Wishlist!</div>
            </div>
        </div>
        <!-- The Add/Replace Event Modal -->
        <div id="exportItineraryModalWishlist" class="addEventModal">
            <!-- Modal content -->
            <div class="addEventModalContent exportItineraryModalContent">
                <span (click)="closeExportItineraryModalWishlist()" class="addEventModalCloseBtn">
                    <img src="assets/img/Icon_Close_white_noShadow.svg" alt="close modal">
                </span>
                <div class="exportItineraryModalHeader">
                    <div class="exportItineraryModalHeaderIcon">
                        <img src="assets/img/Icon_email_white.svg" alt="Change Activity">
                    </div>
                    <div class="exportItineraryModalHeading">
                        <h2>We will send you the<br>informations about:</h2>
                    </div>
                </div>
                <div class="exportitineraryModalBody" *ngIf="_singleDayTemporaryItinerary.itinerary_cook_raw != null">
                    <div *ngFor="let day of _singleDayTemporaryItinerary.itinerary_cook_raw.days">
                        <div *ngFor="let hour of day.hours" class="export_itinerary_half_width_column">
                            <div *ngIf="!itineraryExport.skip_export_activities.includes(hour.activity.id) && _selectedActivities.includes(hour.activity.id)">
                                <div class="export_itinerary_delete_activity_icon">
                                    <img (click)="skipExportActivity(hour.activity.id)"
                                         src="assets/img/Icon_Delete_Bluish.svg" alt="Delete activity">
                                </div>
                                <div class="export_itinerary_activity_name">{{ hour.activity.name }}</div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="_selectedActivities.length == 0">
                        Please Select Atleast One Activity!

                    </div>

                    <div *ngIf="_selectedActivities.length > 0" class="export_itinerary_or_div">or</div>
                    <div *ngIf="_selectedActivities.length > 0"
                         class="export_itinerary_full_width_column checkbox_column">
                        <div  class="export_itinerary_delete_activity_icon">
                            <label class="checkbox_container">
                                <input type="checkbox">
                                <span (click)="itineraryExport.toggleExportAll()" class="checkbox_checkmark"></span>
                            </label>
                        </div>
                        <div  class="export_itinerary_activity_name checkbox_text">Export the whole itinerary</div>
                    </div>
                    <div *ngIf="_selectedActivities.length > 0" class="export_itinerary_full_width_column send_column">
                        <div *ngIf="itineraryExport.export_all || itineraryExport.skip_export_activities.length < itineraryExport.total_activities_count" (click)="exportItinerary()" class="send_button">
                            <div class="send_icon">
                                <img src="assets/img/Icon_two_lines.svg" alt="send icon">
                            </div>
                            <span>Send</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>