app-wishlist { //these are selector, defined in component.ts, which make sure css is specific to this component, so do write css inside of this body
  .calendar_image {
    width: 65px;
  }
  .not_found_container {
    padding-bottom: 70px;
  }
  .not_found_image_container {
    max-width: 230px;
    margin: 40px auto 0px;
  }
  .sorry_text {
    color: #fff;
    font-size: 30px;
    padding: 0px 15px 0px 15px;
    border-bottom: 5px solid #fff;
    position: relative;
    display: inline-block;
    margin: 0px 0px 15px 0px;
  }
  .not_found_text_container {
    display: block;
    position: relative;
    text-align: center;
    color: #5A5858;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
  }
  .not_found_text {
    display: block;
  }
  blockquote::after, blockquote::before {
    font-size: 9px;
    position: relative;
    top: -5px;
  }
  blockquote {
    margin: 10px 0px;
    font-size: 17px;
  }
  blockquote::after {
    content: "";
    font-family: "FontAwesome";
    margin-left: 0.5em;
  }
  ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  blockquote::before {
    content: "";
    font-family: "FontAwesome";
    margin-right: 0.5em;
  }
  .sidebar_section {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 460px;
    background-color: #E52050;
    height: 100vh;
    z-index: 1050;
    overflow-y: scroll;
    display: none;
    .close_container {
      display: block;
      width: 100%;
      box-sizing: border-box;
      height: 60px;
      padding: 10px;
      text-align: right;
      img {
        height: 100%;
      }
    }
    .filters_edit {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 10px 10px 25px;
      .filter_edit_text {
        font-size: 17px;
        line-height: 30px;
        cursor: pointer;
        border: 0px;
        background-color: transparent;
        color: #fff;
        padding-left: 0px;
      }
      .editFilters {
        border-bottom: 0px solid #FFF;
      }
      .applyFilters {
        border-bottom: 0px solid #fff;
      }
    }
    .filters {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 10px 10px 25px;
      .filters_one {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        margin: 20px 0px;
        text-transform: uppercase;
        .budget_range_text_display {
          font-size: 20px;
          display: inline-block;
          padding-top: 30px;
        }
        .icon_container {
          display: inline-block;
          width: 120px;
          .adult_img {
            max-height: 110px;
            display: inline-block;
          }
          .child_img {
            max-height: 70px;
            display: inline-block;
          }
        }
        .person_info {
          display: inline-block;
          vertical-align: middle;
          padding-left: 0px;
          font-size: 21px;
          .person_stats_container {
            display: inline-block;
            width: 180px;
            height: 40px;
            line-height: 40px;
            position: relative;
            float: left;
            .person_number {
              display: inline-block;
              position: relative;
              float: left;
              margin: 0px 10px 0px 0px;
            }
            .person {
              display: inline-block;
              position: relative;
              float: left;
              margin-right: 40px;
            }
          }
          .add_person {
            cursor: pointer;
            display: inline-block;
            float: left;
            position: relative;
            width: 25px;
            height: 25px;
            padding: 0px;
            margin: 0px 10px;
            display: none;
            img {
              width: 100%;
              margin: 0px;
            }
          }
          .remove_person {
            cursor: pointer;
            display: inline-block;
            float: left;
            position: relative;
            width: 25px;
            height: 25px;
            margin: 0px 10px;
            display: none;
            img {
              width: 100%;
              margin: 0px;
            }
          }
        }
        .icon_calendar, .calendar_container, .from, .month_container, .month_wrapper, .icon_left, .month, .icon_right, .day_container, .day {
          display: inline-block;
          position: relative;
          float: left;
        }
        .calendar_dates_display {
          display: inline-block;
          font-size: 20px;
          padding-top: 2px;
          max-width: 270px;
        }
        .calendar_container {
          padding-top: 8px;
          padding-bottom: 5px;
          display: none;
          .from {
            width: 60px;
            text-transform: lowercase;
          }
          .month_container {
            width: 156px;
            .month_wrapper {
              width: 176px;
              .icon_left {
                width: 20px;
                transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
              }
              .month {
                margin: 0px;
                width: 116px;
                text-align: center;
              }
              .icon_right {
                width: 20px;
              }
            }
          }
          .day_container {
            width: 90px;
            margin-left: 20px;
            .icon_left {
              width: 20px;
              transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
            }
            .day {
              margin: 0px;
              width: 40px;
              text-align: center;
              font-size: 18px;
              line-height: 20px;
            }
            .icon_right {
              width: 20px;
            }
          }
        }
        .budget_icons_container {
          display: inline-block;
          position: relative;
          float: left;
          width: 120px;
          text-align: left;
          .low_budget_icon {
            max-width: 60px;
            top: 20px;
            position: relative;
          }
          .mid_budget_icon {
            max-width: 80px;
            position: relative;
            top: 12px;
          }
          .high_budget_icon {
            max-width: 100px;
          }
          .budget_inputs {
            display: none;
          }
        }
        .checkboxes_wrapper {
          max-width: 600px;
          margin: 0px auto;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
          .checkbox {
            width: 100%;
            float: left;
            position: relative;
            label{
              input {
                margin-right: 15px;
              }
            }
          }
        }
        .checkboxRound {
          width: 37px;
          height: 38px;
          background: #E52050;
          border: 2px solid #fff;
          margin: 0px 10px 0px 0px;
          border-radius: 50%;
          position: relative;
          top: 14px;
          display: inline-block;
        }
        .checkboxRound input {
          display: none;
        }
        .checkboxRound label {
          display: block;
          width: 26px;
          height: 27px;
          border-radius: 50%;
          transition: all .5s ease;
          cursor: pointer;
          position: absolute;
          top: 4px;
          left: 4px;
          z-index: 1;
          background: #E52050;
        }
        .checkboxRound input[type=checkbox]:checked + label {
            background: #fff;
        }
      }
    }
  }
  .wishlist_container {
    padding-top: 50px !important;
    display: block;
    padding-bottom: 50px !important;
    .selected-activity {
      background: rgba(229, 34, 81, 0.05);
    }
  }
  .col-lg-3 {
    margin-bottom: 45px;
  }
  .element_container {
    background-color: #fff;
    width: 100%;
    color: #E52251;
    overflow: visible;
    padding: 0px 0px 0px 5px;
    display: block;
    box-shadow: -5px 5px #E52251;
    border-radius: 10px;
    position: relative;
    padding-bottom: 5px;
    .image_container {
      width: 100%;
      display: block;
      -ms-transform: translate(10px,-10px);
      -webkit-transform: translate(10px,-10px);
      transform: translate(6px,-10px);
      border-radius: 10px;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      height: 204px;
      .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 4;
        img {
          position: relative;
          max-height: 130%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .icon {
        width: 90px;
        height: 90px;
        display: block;
        position: absolute;
        top:0px;
        left: 0px;
        z-index: 6;
      }
      .gradient_div {
        display: block;
        width: 100%;
        height: 100%;position: absolute;
        top: 0px;
        left: 0px;
        z-index: 5;
        border-radius: 10px;
        box-sizing: border-box;
      }
      .gradient_class {        
        background: linear-gradient(to bottom right, $themeColor 20%, transparent 100%);
        border: 5px solid $themeColor;
      }
      .gradient_class_blue {
        background: linear-gradient(to bottom right, #92D7F6 20%, transparent 100%);
        border: 5px solid #92D7F6;
      }
    }
    .place_name_container {
      width: 100%;
      display: block;
      box-sizing: border-box;
      padding: 0px 0px 0px 15px;
      min-height: 78px;
      cursor: pointer;
      .place_name {
        width: calc(100% - 30px);
        display: inline-block;
        text-transform: uppercase;
        height: auto;
        overflow: auto;
        padding-top: 4px;
      }
      .arrow {
        display: inline-block;
        position: relative;
        float: right;
        width: 20px;
        height: 24px;
        margin-right: 10px;
        top: 5px;
      }
    }
  }  
  .wishlist_description_container {
    box-shadow: 0px 0px 0px 7px #FFD7E2;
    border: 5px solid #FFA9BC;
    background-color: $themeColor;
    color: #fff;
    padding: 15px;
    h2 {
      font-size: 25px;
      margin-bottom: 25%;
    }
    p {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 10%;
    }
  }
  .edit_itinerary_container {
    width: 100%;
    height: 50px;
    display: block;
    overflow: hidden;
    .edit_itinerary_wrapper {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      position: relative;
      float: left;
      text-transform: uppercase;
      .edit_itinerary {
        max-width: 83px;
        display: block;
        margin: 0px auto;
        color: $themeColor;
        border-bottom: 5px solid $themeColor;
        cursor: pointer;
      }
    }
  }  
  .select_activity_container {
    width: 100%;
    position: relative;
    display: none;
    img {
      max-width: 60px;
      position: relative;
      display: block;
      right: 40px;
      float: right;
      top: 5px;
      z-index: 2;
    }
    .select_activity_description {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      background-color: $themeColor;
      border: 5px solid #FFA9BC;
      border-radius: 10px;
      padding: 15px 10px;
      font-size: 20px;
    }
  }
  .addEventModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding-right: 20px;
    padding-left: 20px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  }

  /* Modal Content */
  .addEventModalContent {
      position: relative;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      max-width: 800px;
      box-shadow: -5px 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-animation-name: addEventModalAnimatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: addEventModalAnimatetop;
      animation-duration: 0.4s;
      margin-bottom: 20px;
  }
  /* The Close Button */
  .addEventModalCloseBtn {
    display: inline-block;
    width: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 1;
  }

  .addEventModalCloseBtn:hover,
  .addEventModalCloseBtn:focus {
      cursor: pointer;
  }
  .exportItineraryModalContent {
    background-color: #92D7F6;
    border: 5px solid $themeColor;
  }
  .exportItineraryModalHeader {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 60px;
  }
  .exportItineraryModalHeaderIcon {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100%;
    float: left;
    img {
      width: 40px;
      position: relative;
      top: 10px;
      left: 20px;
    }
  }
  .exportItineraryModalHeading {
    display: inline-block;
    position: relative;
    float: left;
    height: 60px;
    line-height: 60px;
    h2 {
      font-size: 22px;
      font-weight: normal;
      opacity: 0.7;
      text-transform: uppercase;
      margin-top: 7px;
      color: #545B8E;
    }
  }
  .exportitineraryModalBody {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px 0px 0px 100px;
    overflow: auto;
  }
  .export_itinerary_half_width_column {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin: 6px 0px;
  }
  .export_itinerary_delete_activity_icon {
    display: inline-block;
    position: relative;
    float: left;
    width: 50px;
    cursor: pointer;
    img {
      width: 35px;
    }
  }
  .export_itinerary_activity_name {
    display: block;
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    width: calc(100% - 50px);
    box-sizing: border-box;
    padding-right: 10px;
    padding-top: 5px;
  }
  .export_itinerary_or_div {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin: 15px 0px;
    text-transform: uppercase;
    font-size: 22px;
    color: #545B8E;
  }
  .export_itinerary_full_width_column {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 10px;
  }
  /* The container */
  .checkbox_container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 35px;
  }

  /* Hide the browser's default checkbox */
  .checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */
  .checkbox_checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #92D7F6;
    border: 2px solid #fff;
    border-radius: 4px;
  }

  /* On mouse-over, add a grey background color */
  .checkbox_container:hover input ~ .checkbox_checkmark {
    background-color: #42b9f0;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox_container input:checked ~ .checkbox_checkmark {
    background-color: #1197d4;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkbox_checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox_container input:checked ~ .checkbox_checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox_container .checkbox_checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .send_column {
    margin: 35px 0px 10px 0px;
    box-sizing: border-box;
    padding-right: 20px;
  }
  .send_button {
    display: inline;
    position: relative;
    float: right;
    border: 4px solid #fff;
    padding: 7px 22px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
  }
  .send_icon {
    display: inline;
    padding: 0px;
    img {
      width: 36px;
    }
  }
  .export_itinerary {
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    .export_itinerary_inner_container {
      max-width: 75px;
      text-align: left;
      margin: 0px auto;
      img {
        width: 60px;
        cursor: pointer;
      }
    }
  }  
  .reset_button {
    display: none;
  }
  .edit_itinerary_icon_container {
    display: none;
  }
  .show_my_itinerary_icon img {
    width: 55px;
  }
  .one_day_calendar_wrapper {
    width: calc(100% - 120px);
    display: block;
    position: relative;
    float: left;
    display: none;
  }
  .one_day_calendar_row {
    display: block;
    position: relative;
    float: left;
    margin-bottom: 10px;
    width: 100%;
  }
  .left_icon_calendar, .right_icon_calendar {
    width: 30px;
    position: relative;
    float: left;
  }
  .right_icon_calendar {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  .one_day_flow_month_container {
    width: 154px;
  }
  .month {
    width: calc(100% - 60px);
    text-align: center;
    line-height: 30px;
  }
  .one_day_flow_day_container {
    width: calc(100% - 154px);
    box-sizing: border-box;
    padding: 0px 0px 0px 8px;
  }
  .day {
    width: calc(100% - 60px);
    text-align: center;
    line-height: 30px;
  }
  .from_day_flow {
    text-align: center;
    display: block;
    width: 100%;
  }
  .from_wrapper {
    display: inline-block;
  }
  .from_underline {
    border: 3px solid #fff;
    border-radius: 3px;
  }
  .calendar_dates_display_one_day {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 120px);
  }
  .modal_popup {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    padding-bottom: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: #000;
    .modal_content_wrapper {
      position: relative;
      background-color: transparent;
      margin: 0px auto;
      box-sizing: border-box;
      padding-right: 0px;
      max-width: 750px;
      box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0px 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animateTop;
      -webkit-animation-duration: 0.4s;
      animation-name: animateTop;
      animation-duration: 0.4s;
      border-radius: 12px;
      .toggle_close_modal {
        display: inline-block;
        width: 40px;
        position: absolute;
        right: -20px;
        top: -20px;
        cursor: pointer;
        z-index: 1;
      }
      .modal_category_icon {
        position: absolute;
        top: 0px;
        width: 100px;
        left: 0px;
        display: inline-block;
        z-index: 1;
      }
      .modal_content {
        overflow: auto;
        position: relative;
        width: 100%;
        float: left;
        padding: 40px 20px 20px 20px;
        border-radius: 12px;
        background-color: #fff;
        .modal_content_left_section, .modal_content_right_section {
          position: relative;
          display: block;
          float: left;
        }
        .modal_content_left_section {
          width: 220px;
          .modal_left_section_image {
            height: 220px;
            width: 220px;
            overflow: hidden;
            border-radius: 20px;
            img {            
              height: 100%;
            }
          }
          .info {
            display: block;
            text-transform: uppercase;
            color: $themeColor;
            font-size: 17px;
            height: 30px;
            margin-top: 20px;
            line-height: 30px;
            width: 100%;
          }
          .modal_description_address {
            font-size: 14px;
          }
          .modal_pricing_container {
            width: 100%;
            margin: 0px;
            padding: 0px;
            font-size: 14px;
          }
          .modal_schedule_container {
            width: 100%;
            margin: 15px 0px 0px 0px;
            padding: 0px;
            font-size: 14px;
          }
          .modal_schedule_container {
            .closing_day {
              margin-top: 15px;
            }
          }
        }
      }
      .modal_content_right_section {
        width: 490px;
        box-sizing: border-box;
        padding: 0px 10px 10px 30px;
        .modal_right_heading {
          color: $themeColor;
          margin-bottom: 25px;
          .modal_h2 {
            font-size: 22px;
            line-height: 32px;
            .modal_h2_dynamic {
              border-bottom: 5px solid $themeColor;
            }
          }
        }
        .modal_right_description {
          font-size: 14px;
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  /* Large Devices, Wide Screens */
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 993px) and (max-width : 1200px) {
    .activity_container {
      flex: 0 0 33.333333334%;
      max-width: 33.333333334%;
    }
    .select_activity_container {
      display: none;
      img {
        right: 30px;
      }
      .select_activity_description {
        font-size: 15px;
      }
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 769px) and (max-width : 992px) {
    .wishlist_container {
      padding-left: 20px !important;
      padding-right: 55px !important;
    }    
    .select_activity_container {
      display: none;
      position: absolute;
      float: left;
      width: 100%;
      top: 116px;
      right: 8px;
      img {
        right: 6px;
      }
    }
    .exportItineraryModalHeaderIcon {
      width: 80px !important;
    }
    .exportItineraryModalHeaderIcon img {
      left: 10px !important;
    }  
    .exportitineraryModalBody {
      padding: 20px 0px 0px 80px !important;
    }
    .edit_itinerary_text_container {
      display: none;
    }
    .edit_itinerary_icon_container {
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      right: 0px;
      z-index: 1000;
      float: right;
      top: 0px;
    }    
    .modal_popup {
      z-index: 100000;
    }
    .modal_content_right_section {
      max-width: 470px !important;
    }
    .toggle_close_modal {
      right: -6px !important;
    }
    .right_container {
      position: fixed;
      top: 100px;
      right: 0px;
      width: 175px;
      padding: 0px;
      z-index: 1000;
    }
    .export_itinerary {
      width: 62px;
      float: right;
      position: absolute;
      top: 60px;
      right: 0px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 481px) and (max-width : 768px) {
    .sidebar_section {
      width: 100% !important;
    }
    .wishlist_container {
      box-sizing: border-box;
      padding-left: 20px !important;
      padding-right: 20px !important;
    } 
    .elem_image {
      max-height: 160% !important;
    }
    .icon_container {
      width: 68px !important;
    }
    .calendar_image {
      width: 58px;
    }
    .person_info {
      font-size: 18px !important;
      line-height: 34px !important;
    }
    .person_info .person_stats_container {
      width: 140px !important;
      height: 30px !important;
    }
    .person_info .person_stats_container .person {
      margin-right: 0px !important;
    }
    .sidebar_section .filters .filters_one .person_info .add_person {
      width: 20px !important;
      height: 20px !important;
      top: 10px !important;
    }
    .sidebar_section .filters .filters_one .person_info .add_person img {
      position: absolute !important;
      top: 0px !important;
    }
    .sidebar_section .filters .filters_one .person_info .remove_person {
      width: 20px !important;
      height: 20px !important;
      top: 10px !important;
    }
    .sidebar_section .filters .filters_one .person_info .remove_person img {
      position: absolute !important;
      top: 0px !important;
    }
    .sidebar_section .filters .filters_one .calendar_container .month_container .month_wrapper {
      width: 156px !important;
    }
    .month {
      line-height: 22px !important;
    }
    .from {
      font-size: 15px !important;
      width: 70px !important;
    }
    .icon_left, .icon_right, .day_container .icon_left, .day_container .icon_right {
      box-sizing: border-box !important;
      padding: 2px !important;
    }
    .day_container {
      margin-left: 10px !important;
    }
    .day {
      font-size: 14px !important;
    }
    .budget_icons_container {
      width: 112px !important;
    }
    .checkboxes_wrapper {
      font-size: 15px !important;
    }      
    .select_activity_container {
      display: none;
      margin-bottom: 20px;
      position: absolute;
      float: left;
      width: 100%;
      top: 116px;
      right: 8px;
      img {
        right: 6px;
      }
    }
    .exportItineraryModalHeaderIcon {
      width: 76px !important;
    }
    .exportItineraryModalHeaderIcon img {
      left: 8px !important;
    }
    .exportItineraryModalHeading h2 {
      font-size: 19px !important;
    }
    .exportitineraryModalBody {
      padding: 20px 0px 0px 0px !important;
    }
    .export_itinerary_delete_activity_icon {
      width: 40px !important;
    }
    .export_itinerary_delete_activity_icon img {
      width: 30px !important;
    }
    .export_itinerary_activity_name {
      font-size: 16px !important;
      padding-top: 4px !important;
    }
    .export_itinerary_or_div {
      text-align: center !important;
    }
    .checkbox_column {
      padding-left: 8px !important;
    }
    .checkbox_checkmark {
      height: 23px !important;
      width: 23px !important;
    }
    .checkbox_text {
      line-height: 26px !important;
    }
    .edit_export_buttons_column {
      position: fixed !important;
      max-width: 65px !important;
      right: 0px !important;
      z-index: 10000 !important;
      padding: 0px !important;
    }
    .edit_itinerary_text_container {
      display: none;
    }
    .edit_itinerary_icon_container {
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      top: 75px;
      right: 0px;
      z-index: 1000;
      top: 0px;
      float: right;
    }
    .calendar_dates_display_one_day {
      width: calc(100% - 80px) !important;
    }
    .one_day_calendar_wrapper {
      width: calc(100% - 80px) !important;
    }
    .one_day_flow_month_container {
      width: 49% !important;
      position: relative;
      float: left;
    }
    .one_day_flow_day_container {
      width: 50%;
      position: relative;
      float: left;
      margin-left: 0px !important;
      box-sizing: border-box;
      padding-left: 15px;
    }
    .from_day_flow {
      width: 100% !important;
      text-align: center;
    }
    .calendar_container {
      width: calc(100% - 80px) !important;
    }       
    .modal_popup {
      z-index: 100000;
    }
    .modal_content_wrapper {
      max-width: 475px !important;
    }
    .toggle_close_modal {
      right: -6px !important;
      top: -6px !important;
    }
    .modal_content_left_section {
      width: 100% !important;
      text-align: center !important;
    }
    .modal_left_section_image {
      margin: 0px auto;
    }
    .modal_content_right_section {
      width: 100% !important;
      padding: 0px !important;
    }
    .right_container {
      position: fixed;
      top: 75px;
      right: 0px;
      width: 175px;
      padding: 0px;
      z-index: 1000;
    }
    .export_itinerary {
      width: 62px;
      float: right;
      position: absolute;
      top: 60px;
      right: 0px;
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    .wishlist_container {
      box-sizing: border-box;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }  
    .sidebar_section {
      width: 100% !important;
      overflow-x: hidden !important;
    }
    /*.person_info {
      max-width: 150px;
    }
    .add_person {
      margin: 0px 10px 0px 0px;
    }*/
    .filters_edit {
      padding: 10px 10px 10px 15px !important;
    }
    .filters {
      margin-bottom: 40px;
      padding: 10px 10px 10px 10px !important;
    }
    .filters_one {
      text-align: center !important;
      padding: 10px 0px !important;
    }
    .icon_container {
      width: 100% !important;
      text-align: center !important;
    }
    .icon_calendar img {
      max-width: 100px !important;
    }
    .calendar_container {
      width: 100% !important;
      text-align: center !important;
    }
    .from, .month_wrapper, .month_container, .month, .day_container, .day, .icon_left, .icon_right {
      float: none !important;
    }
    .month_container, .month_wrapper {
      width: 100% !important;
    }
    .month_wrapper {
      margin: 6px 0px !important;
    }
    .day_container {
      width: 100% !important;
      margin: 6px 0px !important;
    }
    .from {
      width: 100% !important;
      line-height: 20px !important;
    }
    .calendar_dates_display {
      font-size: 17px !important;
      max-width: 300px !important;
    }
    .budget_icons_container {
      float: none;
    }
    .person_info .person_stats_container {
      width: auto !important;
      display: inline-block !important;
    }
    .person {
      margin-right: 15px !important;
    }
    .checkboxes_wrapper {
      text-align: center !important;
    }
    .checkbox {
      width: 300px !important;
      float: none !important;
      text-align: left !important;
      margin: 0px auto !important;
      font-size: 15px !important;
    }
    .budget_icons_container {
      width: 100px !important;
    }  
    .select_activity_container {
      margin-bottom: 10px;
      display: none;
      position: absolute;
      float: left;
      width: 100%;
      top: 116px;
      right: 8px;
      img {
        right: 6px;
      }
    }
    .exportItineraryModalContent {
      padding: 10px !important;
    }
    .exportItineraryModalHeaderIcon {
      width: 100% !important;
      text-align: center;
    }
    .exportItineraryModalHeaderIcon img {
      left: 0px !important;
    }
    .exportItineraryModalHeading {
      width: 100%;
      text-align: center;
    }
    .exportItineraryModalHeading h2 {
      font-size: 16px !important;
    }
    .exportitineraryModalBody {
      padding: 20px 0px 0px 0px !important;
    }
    .export_itinerary_half_width_column {
      width: 100% !important;
    }
    .export_itinerary_delete_activity_icon {
      width: 40px !important;
    }
    .export_itinerary_delete_activity_icon img {
      width: 30px !important;
    }
    .export_itinerary_activity_name {
      font-size: 16px !important;
      padding-top: 4px !important;
    }
    .export_itinerary_or_div {
      text-align: center !important;
      font-size: 20px !important;
    }
    .checkbox_column {
      padding-left: 8px !important;
    }
    .checkbox_checkmark {
      height: 23px !important;
      width: 23px !important;
    }
    .checkbox_text {
      font-size: 17px !important;
      line-height: 23px !important;
      top: 3px;
    }
    .send_column {
      text-align: center;
    }
    .send_button {
      float: none !important;
    }
    .edit_itinerary_text_container {
      display: none;
    }
    .edit_itinerary_icon_container {
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      top: 75px;
      right: 0px;
      z-index: 1000;
      top: 0px;
      float: right;
    }
    .calendar_dates_display_one_day {
      width: 100% !important;
    }
    .one_day_calendar_wrapper {
      width: 100% !important;
    }
    .one_day_flow_month_container {
      width: 100% !important;
      position: relative;
      float: left !important;
      margin: 10px 0px;
    }
    .one_day_flow_day_container {
      width: 100%;
      position: relative;
      float: left;
      margin-left: 0px !important;
      box-sizing: border-box;
      padding-left: 0px;
      margin: 10px 0px;
    }
    .from_day_flow {
      width: 100% !important;
      text-align: center;
    }
    #month_of_day_flow, #day_of_one_day_flow, .one_day_flow_day {
      float: left !important;
    }
    .modal_popup {
      z-index: 100000;
    }
    .modal_content_wrapper {
      max-width: 475px !important;
      margin-left: 3px !important;
      margin-right: 5px !important;
    }
    .toggle_close_modal {
      right: -6px !important;
      top: -6px !important;
    }
    .modal_content_left_section {
      width: 100% !important;
      text-align: center !important;
    }
    .modal_left_section_image {
      margin: 0px auto;
    }
    .modal_content_right_section {
      width: 100% !important;
      padding: 0px !important;
    }
    .modal_h2 {
      line-height: 32px !important;
      font-size: 17px !important;
    }    
    .right_container {
      position: fixed;
      top: 75px;
      right: 0px;
      width: 175px;
      padding: 0px;
      z-index: 1000;
    }
    .export_itinerary {
      width: 62px;
      float: right;
      position: absolute;
      top: 60px;
      right: 0px;
    }
  }
}