<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">
<div class="sidebar_section">
    <div class="close_container">
        <img src="assets/img/Icon_Close.svg" alt="close" (click)="closeSidebar()">
    </div>
    <div class="filters_edit">
        <button class="filter_edit_text editFilters" (click)="edifFiltersFunction()">Edit filters</button>
        <br/>
        <button class="filter_edit_text applyFilters" (click)="applyFiltersFunction()">Apply Filters</button>
        <br/>
        <button class="filter_edit_text">Reset all</button>
        <!--<div class="filter_edit_text">Advanced filters</div>-->
    </div>
    <div class="filters">
        <div class="filters_one">
            <input type="hidden" name="adults_number" id="adults_number_input" value="2">
            <div class="icon_container">
                <img class="adult_img" src="assets/img/person.svg" alt="person">
            </div>
            <div class="person_info">
                <div class="person_stats_container">
                    <span id="adult_number" class="person_number">2</span>
                    <div class="person">Adult<span>s</span></div>
                </div>
                <span class="add_person" id="add_person" (click)="addAdults()">
                    <img src="assets/img/Icon_Filter_Plus.svg" alt="add person">
                </span>
                <span class="remove_person" id="remove_person" (click)="removeAdults()">
                    <img src="assets/img/Icon_Filter_Minus.svg" alt="remove person">
                </span>
            </div>
        </div>
        <div class="filters_one">
            <input type="hidden" name="children_number" id="children_number_input" value="0">
            <div class="icon_container">
                <img class="child_img" src="assets/img/child.svg" alt="person">
            </div>
            <div class="person_info">
                <div class="person_stats_container">
                    <span id="child_number" class="person_number">0</span>
                    <span class="person">Children</span>
                </div>
                <span class="add_person" id="add_child" (click)="addChild('add_child')">
                    <img src="assets/img/Icon_Filter_Plus.svg" alt="add child">
                </span>
                <span class="remove_person" id="remove_child" (click)="removeChild()">
                    <img src="assets/img/Icon_Filter_Minus.svg" alt="remove child">
                </span>
            </div>
        </div>
        <div class="filters_one">
            <div class="icon_container icon_calendar">
                <img class="child_img" src="assets/img/Icon_Calendar_White.svg" alt="person">
            </div>
            <div class="calendar_dates_display">
                <span id="calendar_dates_month_display_one"></span>
                <span id="calendar_dates_day_display_one"></span>
                <span> - </span>
                <span id="calendar_dates_month_display_two"></span>
                <span id="calendar_dates_day_display_two"></span>
            </div>
            <div class="calendar_container">
                <div class="from">from</div>
                <div class="month_container">
                    <div class="month_wrapper">
                        <img class="icon_left" src="assets/img/Icon_Arrow_White.svg" alt="previous"
                             (click)="minusMonth('one')">
                        <input type="hidden" name="from_month" id="month-one" value="november">
                        <div id="month_one" class="month"></div>
                        <img class="icon_right" src="assets/img/Icon_Arrow_White.svg" alt="next"
                             (click)="plusMonth('one')">
                    </div>
                </div>
                <div class="day_container">
                    <input type="hidden" name="date_from" id="date_one" value="2">
                    <img class="icon_left" src="assets/img/Icon_Arrow_White.svg" alt="previous"
                         (click)="minusDay('one')">
                    <div id="day_one" class="day"></div>
                    <img class="icon_right" src="assets/img/Icon_Arrow_White.svg" alt="next" (click)="plusDay('one')">
                </div>
            </div>
            <div class="calendar_container">
                <div class="from">to</div>
                <div class="month_container">
                    <div class="month_wrapper">
                        <img class="icon_left" src="assets/img/Icon_Arrow_White.svg" alt="previous"
                             (click)="minusMonth('two')">
                        <input type="hidden" name="month_to" id="month-two" value="december">
                        <div id="month_two" class="month"></div>
                        <img class="icon_right" src="assets/img/Icon_Arrow_White.svg" alt="next"
                             (click)="plusMonth('two')">
                    </div>
                </div>
                <div class="day_container">
                    <input type="hidden" name="date_to" id="date_two" value="12">
                    <img class="icon_left" src="assets/img/Icon_Arrow_White.svg" alt="previous"
                         (click)="minusDay('two')">
                    <div id="day_two" class="day"></div>
                    <img class="icon_right" src="assets/img/Icon_Arrow_White.svg" alt="next" (click)="plusDay('two')">
                </div>
            </div>
        </div>
        <div class="filters_one">
            <label class="radio-inline budget_icons_container budget_icons_container_one">
                <input class="budget_inputs" type="radio" name="budget_input" value="low_budget">
                <img class="low_budget_icon budget_icons" src="assets/img/low-budget.svg" alt="low budget"
                     (click)="budgetSelection('low')">
            </label>
            <label class="radio-inline budget_icons_container budget_icons_container_two">
                <input class="budget_inputs" type="radio" name="budget_input" value="mid_range_budget"
                       checked="checked">
                <img class="mid_budget_icon budget_icons" src="assets/img/middle-range-budget.svg" alt="medium budget"
                     (click)="budgetSelection('medium')">
            </label>
            <label class="radio-inline budget_icons_container budget_icons_container_three">
                <input class="budget_inputs" type="radio" name="budget_input" value="high_range_budget">
                <img class="high_budget_icon budget_icons" src="assets/img/high-range-budget.svg" alt="high budget"
                     (click)="budgetSelection('high')">
            </label>
            <div class="budget_range_text_display"></div>

            <!--<div class="budget_icons_container">
                <img class="low_budget_icon" src="assets/img/low-budget-selected.svg" alt="low budget">
            </div>
            <div class="budget_icons_container">
                <img class="mid_budget_icon" src="assets/img/middle-range-budget-selected.svg" alt="low budget">
            </div>
            <div class="budget_icons_container">
                <img class="high_budget_icon" src="assets/img/high-budget-selected.svg" alt="low budget">
            </div>-->

        </div>
        <div class="filters_one">
            <div class="checkboxes_wrapper">
                <div class="checkbox">
                    <div class="checkboxRound">
                        <input type="checkbox" value="1" id="checkboxOneInput" name=""/>
                        <label for="checkboxOneInput"></label>
                    </div>
                    <label>Fun &amp; Party</label>
                </div>

                <div class="checkbox">
                    <div class="checkboxRound">
                        <input type="checkbox" value="1" id="checkboxTwoInput" name=""/>
                        <label for="checkboxTwoInput"></label>
                    </div>
                    <label>Culture &amp; Tradition</label>
                </div>
                <div class="checkbox">
                    <div class="checkboxRound">
                        <input type="checkbox" value="1" id="checkboxThreeInput" name=""/>
                        <label for="checkboxThreeInput"></label>
                    </div>
                    <label>Nature &amp; Relax</label>
                </div>
                <div class="checkbox">
                    <div class="checkboxRound">
                        <input type="checkbox" value="1" id="checkboxFourInput" name=""/>
                        <label for="checkboxFourInput"></label>
                    </div>
                    <label>Eat &amp; Taste</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid wishlist_container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row">

                <div class="col-lg-3" *ngFor="let activity of _activities">
                    <div class="element_container selected-activity" [class.selected-activity]="check_activity_selected(activity.id)"
                         (click)="toggle_selected_acctivity(activity.id)">
                        <div class="image_container">
                            <div class="image">
                                <img [src]="activity.images[0]" alt="image">
                            </div>
                            <div class="icon">
                                <img [src]="'assets/img/'+activity.micro_icon" alt="Museum category">
                            </div>
                        </div>
                        <div class="place_name_container">
                            <div class="place_name">{{ activity.name }}</div>
                            <div class="arrow">
                                <img src="assets/img/Icon_Arrow_Wishlist.svg" alt="Museum category">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-2">
            <div class="edit_itinerary_container">
                <div class="edit_itinerary_wrapper" id="edit_itinerary_wrapper_one">
                    <div class="edit_itinerary" (click)="editItinerary()">Show my<br>Itinerary</div>
                </div>
                <div class="edit_itinerary_wrapper" id="edit_itinerary_wrapper_two">
                    <div class="edit_itinerary" (click)="backToItinerary()">Hide my<br>Itinerary</div>
                </div>
            </div>
        </div>
    </div>
</div>