app-wishlist { //these are selector, defined in component.ts, which make sure css is specific to this component, so do write css inside of this body
  .sidebar_section {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 460px;
    background-color: #E52050;
    height: 100vh;
    z-index: 1050;
    overflow-y: scroll;
    display: none;
    .close_container {
      display: block;
      width: 100%;
      box-sizing: border-box;
      height: 60px;
      padding: 10px;
      text-align: right;
      img {
        height: 100%;
      }
    }
    .filters_edit {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 10px 10px 25px;
      .filter_edit_text {
        font-size: 17px;
        line-height: 30px;
        cursor: pointer;
        border: 0px;
        background-color: transparent;
        color: #fff;
        padding-left: 0px;
      }
      .editFilters {
        border-bottom: 0px solid #FFF;
      }
      .applyFilters {
        border-bottom: 0px solid #fff;
      }
    }
    .filters {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 10px 10px 25px;
      .filters_one {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        margin: 20px 0px;
        text-transform: uppercase;
        .budget_range_text_display {
          font-size: 20px;
          display: inline-block;
          padding-top: 30px;
        }
        .icon_container {
          display: inline-block;
          width: 120px;
          .adult_img {
            max-height: 110px;
            display: inline-block;
          }
          .child_img {
            max-height: 70px;
            display: inline-block;
          }
        }
        .person_info {
          display: inline-block;
          vertical-align: middle;
          padding-left: 0px;
          font-size: 21px;
          .person_stats_container {
            display: inline-block;
            width: 180px;
            height: 40px;
            line-height: 40px;
            position: relative;
            float: left;
            .person_number {
              display: inline-block;
              position: relative;
              float: left;
              margin: 0px 10px 0px 0px;
            }
            .person {
              display: inline-block;
              position: relative;
              float: left;
              margin-right: 40px;
            }
          }
          .add_person {
            cursor: pointer;
            display: inline-block;
            float: left;
            position: relative;
            width: 25px;
            height: 25px;
            padding: 0px;
            margin: 0px 10px;
            display: none;
            img {
              width: 100%;
              margin: 0px;
            }
          }
          .remove_person {
            cursor: pointer;
            display: inline-block;
            float: left;
            position: relative;
            width: 25px;
            height: 25px;
            margin: 0px 10px;
            display: none;
            img {
              width: 100%;
              margin: 0px;
            }
          }
        }
        .icon_calendar, .calendar_container, .from, .month_container, .month_wrapper, .icon_left, .month, .icon_right, .day_container, .day {
          display: inline-block;
          position: relative;
          float: left;
        }
        .calendar_dates_display {
          display: inline-block;
          font-size: 20px;
          padding-top: 2px;
          max-width: 270px;
        }
        .calendar_container {
          padding-top: 8px;
          padding-bottom: 5px;
          display: none;
          .from {
            width: 60px;
            text-transform: lowercase;
          }
          .month_container {
            width: 156px;
            .month_wrapper {
              width: 176px;
              .icon_left {
                width: 20px;
                transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
              }
              .month {
                margin: 0px;
                width: 116px;
                text-align: center;
              }
              .icon_right {
                width: 20px;
              }
            }
          }
          .day_container {
            width: 90px;
            margin-left: 20px;
            .icon_left {
              width: 20px;
              transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
            }
            .day {
              margin: 0px;
              width: 40px;
              text-align: center;
              font-size: 18px;
              line-height: 20px;
            }
            .icon_right {
              width: 20px;
            }
          }
        }
        .budget_icons_container {
          display: inline-block;
          position: relative;
          float: left;
          width: 120px;
          text-align: left;
          .low_budget_icon {
            max-width: 60px;
            top: 20px;
            position: relative;
          }
          .mid_budget_icon {
            max-width: 80px;
            position: relative;
            top: 12px;
          }
          .high_budget_icon {
            max-width: 100px;
          }
          .budget_inputs {
            display: none;
          }
        }
        .checkboxes_wrapper {
          max-width: 600px;
          margin: 0px auto;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
          .checkbox {
            width: 100%;
            float: left;
            position: relative;
            label{
              input {
                margin-right: 15px;
              }
            }
          }
        }
        .checkboxRound {
          width: 37px;
          height: 38px;
          background: #E52050;
          border: 2px solid #fff;
          margin: 0px 10px 0px 0px;
          border-radius: 50%;
          position: relative;
          top: 14px;
          display: inline-block;
        }
        .checkboxRound input {
          display: none;
        }
        .checkboxRound label {
          display: block;
          width: 26px;
          height: 27px;
          border-radius: 50%;
          transition: all .5s ease;
          cursor: pointer;
          position: absolute;
          top: 4px;
          left: 4px;
          z-index: 1;
          background: #E52050;
        }
        .checkboxRound input[type=checkbox]:checked + label {
            background: #fff;
        }
      }
    }
  }
  .wishlist_container {
    padding-top: 50px !important;
    display: block;
    background-color: #d4d3d3;
    padding-bottom: 50px !important;
    .selected-activity {
      background: rgba(229, 34, 81, 0.05);
    }
  }
  .col-lg-3 {
    margin-bottom: 45px;
  }
  .element_container {
    background-color: #fff;
    width: 100%;
    color: #E52251;
    overflow: visible;
    padding: 0px 0px 0px 5px;
    display: block;
    box-shadow: -5px 5px #E52251;
    border-radius: 10px;
    position: relative;
    padding-bottom: 5px;
    .image_container {
      width: 100%;
      display: block;
      -ms-transform: translate(10px,-10px);
      -webkit-transform: translate(10px,-10px);
      transform: translate(6px,-10px);
      border-radius: 10px;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      height: 204px;
      .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 4;
        img {
          height: 204px;
        }
      }
      .icon {
        width: 90px;
        height: 90px;
        display: block;
        position: absolute;
        top:0px;
        left: 0px;
        z-index: 6;
      }
    }
    .place_name_container {
      width: 100%;
      display: block;
      box-sizing: border-box;
      padding: 0px 0px 0px 15px;
      .place_name {
        max-width: 80%;
        display: inline-block;
        text-transform: uppercase;
        height: 40px;
      }
      .arrow {
        display: inline-block;
        position: relative;
        float: right;
        width: 20px;
        height: 24px;
        margin-right: 10px;
        top: 10px;
      }
    }

  }
  .edit_itinerary_container {
    width: 100%;
    height: 50px;
    display: block;
    overflow: hidden;
    .edit_itinerary_wrapper {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      position: relative;
      float: left;
      text-transform: uppercase;
      .edit_itinerary {
        max-width: 75px;
        display: block;
        margin: 0px auto;
        color: $themeColor;
        border-bottom: 5px solid $themeColor;
        cursor: pointer;
      }
    }
  }
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 993px) and (max-width : 1200px) {
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 769px) and (max-width : 992px) {
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 481px) and (max-width : 768px) {
    
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 320px) and (max-width : 480px) {
    
  }
}