<div class="loader_container">
  <div class="loader">
    <div id="bone_container" class="bone_container">
      <img src="assets/img/Icon_bone_White.svg" alt="loading icon">
    </div>
    <div class="eyes_container">
      <div class="eye_level_one eye_one">
        <div class="eye_level_two">
          <div class="eye_level_three_container">
            <div class="eye_level_three"></div>
          </div>
        </div>
      </div>
      <div class="eye_level_one eye_two">
        <div class="eye_level_two">
          <div class="eye_level_three_container">
            <div class="eye_level_three"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>